#!jinja2

{% set TASK_RUN = "rose task-run --verbose -O '(" + SITE + ")'"%}
{% set PP_CYCLES = range(110,113)|list + range(201,213)|list + [301,]|list %}

[cylc]
    [[event hooks]]
        timeout handler = "rose suite-hook --shutdown"
        timeout = 180

# This links a name specified on the command in rose-stem with a
# set of cylc task dependencies
{# name_graphs contains test_option-dependency key-value pairs -#}
{%- set name_graphs = {
    "build_ocean34_safe" : "fcm_make_ocean_34_16x32_safe => fcm_make2_ocean_34_16x32_safe => nemo_cice_34_16x32_safe => rose_ana_nemo_cice_34_16x32_safe => housekeep_nemo_cice_34_safe",
    "build_ocean34_high" : "fcm_make_ocean_34_16x32_high => fcm_make2_ocean_34_16x32_high => nemo_cice_34_16x32_high => rose_ana_nemo_cice_34_16x32_high => housekeep_nemo_cice_34_high",
    "test_oasis" :
        "fcm_make_xiosScript_remote => fcm_make2_xiosScript_remote => xbs_unitTests => buildOasis
         buildOasis => testOasis => validate_oasis => housekeeping_oasis",
    "test_xios" :  
        "fcm_make_xiosScript_remote => fcm_make2_xiosScript_remote => xbs_unitTests  => buildXios
         buildXios => testXios => validate_xios => housekeeping_xios", 
    "test_nemo_gyre" :  
        "fcm_make_xiosScript_remote => fcm_make2_xiosScript_remote => xbs_unitTests  => buildOasis => buildXios => buildNemo 
         buildNemo => testNemo => validate_nemo => housekeeping_nemo",
         

    "test_postproc" :
        "fcm_make_pp => coupled_dummy_19811001 => postproc_19811001 & coupled_dummy_19811101
         coupled_dummy_19811101 => postproc_19811101 & coupled_dummy_19811201
         coupled_dummy_19811201 => postproc_19811201 & coupled_dummy_19820101
         coupled_dummy_19820101 => postproc_19820101 & coupled_dummy_19820201
         coupled_dummy_19820201 => postproc_19820201 & coupled_dummy_19820301
         coupled_dummy_19820301 => postproc_19820301 & coupled_dummy_19820401
         coupled_dummy_19820401 => postproc_19820401 & coupled_dummy_19820501
         coupled_dummy_19820501 => postproc_19820501 & coupled_dummy_19820601
         coupled_dummy_19820601 => postproc_19820601 & coupled_dummy_19820701
         coupled_dummy_19820701 => postproc_19820701 & coupled_dummy_19820801
         coupled_dummy_19820801 => postproc_19820801 & coupled_dummy_19820901
         coupled_dummy_19820901 => postproc_19820901 & coupled_dummy_19821001
         coupled_dummy_19821001 => postproc_19821001 & coupled_dummy_19821101
         coupled_dummy_19821101 => postproc_19821101 & coupled_dummy_19821201
         coupled_dummy_19821201 => postproc_19821201 & coupled_dummy_19830101
         coupled_dummy_19830101 => postproc_19830101 => pp_verify => housekeeping_pp
         postproc_19811001 => postproc_19811101 => postproc_19811201 => postproc_19820101 => \
postproc_19820201 => postproc_19820301 => postproc_19820401 => postproc_19820501 => \
postproc_19820601 => postproc_19820701 => postproc_19820801 => postproc_19820901 => \
postproc_19821001 => postproc_19821101 => postproc_19821201 => postproc_19830101
         fcm_make_pp => pp_unittests",

    "default" : "default_task"
    }
-%}

# Define groups as lists of jobs and other groups
{# groups contains group_option-trigger_list key-value pairs. -#}
{# If a group option is set, each group or task in the trigger list will be set. -#}
{%- set groups = {
    "NEMO_BUILD"    : ["build_ocean34_safe","build_ocean34_high"],
    "XBS_ALL"       : ["test_oasis", "test_xios",  "test_nemo_gyre"],
    "xios_and_nemo" : ["test_xios",  "test_nemo_gyre"],
    }
%}

[scheduling]
    [[dependencies]]
        graph = """
{#- Recursively add dependencies from RUN_NAMES, replacing groups with subgroups/tasks #}
{%- set name_graphs_out = [] %}
{%- set graphs_out = [] %}
{%- for name in RUN_NAMES %}
    {%- set namestack = [name] %}
    {%- for stackname in namestack recursive %}
        {%- if stackname in name_graphs %}
            {% do name_graphs_out.append(stackname) %}
            {%- set outgraph = name_graphs[stackname] %}
            {%- if outgraph not in graphs_out %}
            {#- Add new dependency. #}
{{ outgraph }}
                {%- do graphs_out.append(outgraph) %}
            {%- endif %}
        {%- elif stackname in groups %}
        {#- Add the group contents to the stack. #}
{{ loop(groups[stackname]) }}
        {%- endif %}
    {%- endfor %}
{%- endfor %}
     """

[runtime]
    [[root]]
        initial scripting = """
export CYLC_VERSION={{CYLC_VERSION}}
export ROSE_VERSION={{ROSE_VERSION}}
export FCM_VERSION={{FCM_VERSION}}
"""
        command scripting = "{{TASK_RUN}}"
        [[[event hooks]]]
            succeeded handler = "rose suite-hook"
            failed handler = "rose suite-hook"
            retry handler = "rose suite-hook"
            submission failed handler = "rose suite-hook"
            submission timeout = 720 # 12 hours
            submission timeout handler = "rose suite-hook"
            execution timeout  =  180 # 3 hours
            execution timeout handler = "rose suite-hook"
        [[[environment]]]
	    SOURCE_MOCI_BASE = {{ SOURCE_MOCI_BASE }}
	    SOURCE_MOCI_REV = {{ SOURCE_MOCI_REV }}
    [[LINUX]]
        [[[job submission]]]
            method = at
        [[[remote]]]
            host = $(rose host-select {{EXTRACT_HOST}})

    [[NEMO_16x32]]
        [[[environment]]]
            CICE_COL   = 1440
            CICE_ROW   = 1020
            CICE_BLKX  = 90
            CICE_BLKY  = 32
            CICE_MAXBK = 1
            NEMO_IPROC = 16
            NEMO_JPROC = 32
            NEMO_NPROC = 512
            CICE_NPROC = 512
    [[default_task]]
        inherit = LINUX
        command scripting = "echo [ERROR] Please select a valid group within the test suite to test the component that has been modified >&2; exit 1"
    [[HOUSEKEEPING]]
{%- if HOUSEKEEPING == true %}
        command scripting = "rose task-run --verbose"
{%- else %}
        command scripting = "echo Not deleting $RUNDIR"
{%- endif %}
        [[[environment]]]
            ROSE_TASK_APP = housekeeping
    [[fcm_make_ocean_34_16x32_safe]]
        inherit = LINUX,NEMO_16x32
        [[[environment]]]
            ROSE_TASK_APP = fcm_make_ocean_34_16x32
            ROSE_APP_OPT_CONF_KEYS=safe
    [[fcm_make_ocean_34_16x32_high]]
        inherit = LINUX,NEMO_16x32
        [[[environment]]]
            ROSE_TASK_APP = fcm_make_ocean_34_16x32
            ROSE_APP_OPT_CONF_KEYS=high
    [[fcm_make2_ocean_34_16x32_safe]]
        inherit = XC40,NEMO_16x32
        pre-command scripting = "module load cray-netcdf"
        [[[environment]]]
            ROSE_TASK_APP = fcm_make_ocean_34_16x32
            ROSE_APP_OPT_CONF_KEYS=safe
            ROSE_TASK_N_JOBS  = 6
        [[[directives]]]
            -l walltime=00:10:00
            -l ncpus=6
            -q = shared
    [[fcm_make2_ocean_34_16x32_high]]
        inherit = XC40,NEMO_16x32
        pre-command scripting = "module load cray-netcdf"
        [[[environment]]]
            ROSE_TASK_APP = fcm_make_ocean_34_16x32
            ROSE_APP_OPT_CONF_KEYS=high
            ROSE_TASK_N_JOBS  = 6
        [[[directives]]]
            -l walltime=00:10:00
            -l ncpus=6
            -q = shared
    [[fcm_make_pp]]
        inherit = LINUX
    [[NEMO_CICE_34_16x32]]
        inherit = XC40,NEMO_16x32
        pre-command scripting = "module load cray-netcdf"
        [[[environment]]]
            MODELBASIS=1976,1,1,0,0,0
            TASKSTART=1976,1,1,0,0,0
            TASKLENGTH=0,0,1,0,0,0
            ROSE_TASK_APP = nemo_cice_34
            OMP_NUM_THREADS = 1
            DATAW=$CYLC_TASK_WORK_PATH
            DATAM=$CYLC_TASK_WORK_PATH
            NEMO_DATA=$CYLC_TASK_WORK_PATH/NEMOhist
            CICE_DATA=$CYLC_TASK_WORK_PATH/CICEhist
            CALENDAR='365day'
            CICE_IN=$CYLC_TASK_WORK_PATH/ice_in
            CONTINUE=
        [[[directives]]]
            -q = parallel
            -l select = 16
            -l walltime = 00:30:00
    [[nemo_cice_34_16x32_safe]]
        inherit = NEMO_CICE_34_16x32
        [[[environment]]]
            OCEAN_EXEC=$CYLC_SUITE_SHARE_DIR/fcm_make_ocean_34_16x32_safe/build-ocean/bin/nemo-cice.exe
    [[nemo_cice_34_16x32_high]]
        inherit = NEMO_CICE_34_16x32
        [[[environment]]]
            OCEAN_EXEC=$CYLC_SUITE_SHARE_DIR/fcm_make_ocean_34_16x32_high/build-ocean/bin/nemo-cice.exe
    [[rose_ana_nemo_cice_34_16x32_safe]]
        inherit = XC40_serial
        [[[environment]]]
            ROSE_TASK_APP = rose_ana_nemo_cice_34_16x32_safe
    [[rose_ana_nemo_cice_34_16x32_high]]
        inherit = XC40_serial
        [[[environment]]]
            ROSE_TASK_APP = rose_ana_nemo_cice_34_16x32_high
    [[housekeep_nemo_cice_34_safe]]
        inherit = XC40_serial,HOUSEKEEPING
        [[[environment]]]
            RUNDIR=../nemo_cice_34_16x32_safe
    [[housekeep_nemo_cice_34_high]]
        inherit = XC40_serial,HOUSEKEEPING
        [[[environment]]]
            RUNDIR=../nemo_cice_34_16x32_high
            
    [[XBS]]
        environment scripting = "eval $(rose task-env)"
        
        [[[environment]]]
            TASKS_PER_NODE={{TASKS_PER_NODE}}
            OASIS3_MCT={{OASIS3_MCT}}
            XIOS={{XIOS}}
            NEMO={{NEMO}} 
            SYSTEM_NAME={{SYSTEM_NAME}} 
{% if USE_OASIS %}
  {% if BUILD_OASIS %}
      {% if DEPLOY_AS_MODULE == false %}
              OASIS_ROOT=$CYLC_SUITE_SHARE_DIR/{{OASIS3_MCT}}
      {% endif %}
              BUILD_OASIS=true
  {% else %}
            OASIS_ROOT={{OASIS_ROOT}}
            BUILD_OASIS=false
  {% endif %}
            USE_OASIS=true
{% else %}
            USE_OASIS=false
            BUILD_OASIS=false
{% endif %}
	    ROSE_SUITE_URL={{ROSE_SUITE_URL}}
	    ROSE_SUITE_REV_NO={{ROSE_SUITE_REV_NO}}
	    XBS_PREREQ_MODULES = {{XBS_PREREQ_MODULES}}
{% if XBS_SPECIFY_COMPILER_PRGENV %}
    XBS_SPECIFY_COMPILER_PRGENV = "true"
    XBS_COMPILER_PRGENV={{XBS_COMPILER_PRGENV}}
{% else %}
    XBS_SPECIFY_COMPILER_PRGENV = "false"
{% endif %}
        
        

    [[MODULE_DEPLOYMENT_APP]]
        [[[environment]]]
            {% if DEPLOY_AS_MODULE %}
                DEPLOY_AS_MODULE=true
            {% else %}
                DEPLOY_AS_MODULE=false
            {% endif %}
            MODULE_INSTALL_PATH={{MODULE_INSTALL_PATH}}
        
    [[OASIS_SRC]]
        [[[environment]]]
            OASIS_SRC_LOCATION_TYPE = {{OASIS_SRC_LOCATION_TYPE}}
            OASIS_REPO_URL={{OASIS_REPO_URL}}
            OASIS_REV_NO={{OASIS_REV_NO}}
            OASIS_MAKE_FILE_NAME={{OASIS_MAKE_FILE_NAME}}
            {% if OASIS_SRC_LOCATION_TYPE == "URL" %}
                {% if OASIS_SEPARATE_MAKEFILE %}
                    OASIS_MAKE_REV_NO={{OASIS_MAKE_REV_NO}}
                    OASIS_MAKE_REPO_URL={{OASIS_MAKE_REPO_URL}}
                {% endif %}
                {% if OASIS_SEPARATE_TUTORIAL %}
                    OASIS_TUTORIAL_REPO_URL={{OASIS_TUTORIAL_REPO_URL}}
                    OASIS_TUTORIAL_REV_NO={{OASIS_TUTORIAL_REV_NO}}
                {% endif %}
            {% elif OASIS_SRC_LOCATION_TYPE == "local" %}
                OASIS_SRC_CODE_DIR = {{OASIS_SRC_CODE_DIR}}
            {% endif %}
            
     [[OASIS_APP]]
        inherit = OASIS_SRC
        [[[environment]]]
            {% if BUILD_OASIS %}
                OASIS_OUTPUT_DIR=$CYLC_SUITE_SHARE_DIR/{{OASIS3_MCT}}
            {% else %}
                OASIS_PREBUILD_DIR={{OASIS_ROOT}}
            {% endif %}
            OASIS_PLATFORM_NAME={{OASIS_PLATFORM_NAME}}  
            OASIS_MODULE_VERSION={{OASIS_MODULE_VERSION}}

    [[XIOS_APP]]
        [[[environment]]]
{% if XIOS_USE_PREBUILT_LIB %}
            XIOS_USE_PREBUILT_LIB=true
            XIOS_PREBUILT_DIR={{XIOS_PREBUILT_DIR}}
{% else %}
            XIOS_USE_PREBUILT_LIB=false
{% endif %}
            BUILD_PATH=$CYLC_SUITE_SHARE_DIR
	    XIOS_SRC_LOCATION_TYPE = {{XIOS_SRC_LOCATION_TYPE}}
            XIOS_REPO_URL={{XIOS_REPO_URL}}
            XIOS_REV={{XIOS_REV}}
            {% if XIOS_SRC_LOCATION_TYPE == 'local'%}
                XIOS_SRC_CODE_DIR = {{XIOS_SRC_CODE_DIR}}
            {% endif %}

    [[NEMO_APP]]
        [[[environment]]]
            JP_CFG = '50'
            NEMO_PATH=$CYLC_SUITE_SHARE_DIR/{{NEMO}}

    [[OASIS_BUILD_APP]]
        inherit = OASIS_APP
        [[[environment]]]
        {% if OASIS_BUILD_TUTORIAL %}
            OASIS_BUILD_TUTORIAL=true
        {% else %}
            OASIS_BUILD_TUTORIAL=false
        {% endif %}  
        
    [[XIOS_BUILD_APP]]
        inherit = XIOS_APP
        [[[environment]]]
{% if XIOS_USE_PREBUILT_LIB == false %}
            XIOS_NUM_CORES={{XIOS_NUM_CORES}}
{% endif %}
            XIOS_MODULE_VERSION={{XIOS_MODULE_VERSION}}
            XIOS_PRGENV_VERSION={{XIOS_PRGENV_VERSION}}
            
    [[NEMO_BUILD_APP]]
        inherit = NEMO_APP
        [[[environment]]]
            NEMO_SRC_LOCATION_TYPE = {{NEMO_SRC_LOCATION_TYPE}}
            NEMO_REPO_URL = {{NEMO_REPO_URL}}
            NEMO_REV = {{NEMO_REV}}
            {% if NEMO_SRC_LOCATION_TYPE == 'local' %}
                NEMO_SRC_CODE_DIR = {{NEMO_SRC_CODE_DIR}}
            {% endif %}         
            
    [[fcm_make_xiosScript_remote]]
        inherit = None, XBS, LINUX
        [[[environment]]]
            SOURCE_MOCI={{SOURCE_MOCI}}

    [[fcm_make2_xiosScript_remote]]
        inherit = None,XC40_serial
        [[[environment]]]
             SOURCE_MOCI={{SOURCE_MOCI}}
            
     [[xbs_unitTests]]
        inherit = None, XBS, OASIS_BUILD_APP, XIOS_BUILD_APP, NEMO_BUILD_APP, MODULE_DEPLOYMENT_APP, XBS_UNIT_TEST_SETUP, XBS_UNIT_TEST_RESOURCE
        [[[environment]]]
            VERBOSE='true'
            XIOS_PATH='/path/to/xios/dir'
            OASIS_ROOT = '/path/to/oasis3mct/dir'
            NEMO_POST_BUILD_CLEANUP='false'
            XIOS_DO_CLEAN_BUILD='false'
            XIOS_EXTERNAL_REPO_URL='http://forge.ipsl.jussieu.fr/ioserver/svn/XIOS/trunk'
            XIOS_POST_BUILD_CLEANUP='false'
            OASIS_EXTERNAL_REPO_URL='http://oasis3mct.cerfacs.fr/svn/trunk/oasis3-mct'
            OASIS_EXTERNAL_REV_NO='1120'
        
    [[buildOasis]]
        inherit = None, XBS, MODULE_DEPLOYMENT_APP, OASIS_BUILD_APP, BUILD_OASIS_RESOURCE, BUILD_OASIS_SETUP
    
     [[testOasis]]
        inherit = None, XBS, OASIS_APP, TEST_OASIS_SETUP, TEST_OASIS_RESOURCE
        [[[environment]]]
            OASIS_RESULT_DIR=$ROSE_DATA/{{OASIS3_MCT}}
            OASIS_TEST_NAME={{OASIS_TEST_NAME}}
            OASIS_DATA_DIRECTORY = {{OASIS_DATA_DIRECTORY}}
        
    [[buildXios]]
        inherit = None, XBS, XIOS_BUILD_APP, MODULE_DEPLOYMENT_APP, OASIS_SRC, BUILD_XIOS_SETUP, BUILD_XIOS_RESOURCE

    [[testXios]]
        inherit = None, XBS, XIOS_APP, TEST_PRGENV_USER, TEST_XIOS_RESOURCE
        [[[environment]]]
            XIOS_RESULT_DIR=$ROSE_DATA/{{XIOS}}
        
    [[buildNemo]]
        inherit = None, XBS, XIOS_APP, NEMO_BUILD_APP, BUILD_PRGENV_USER, BUILD_NEMO_RESOURCE



    [[testNemo]]
        inherit=None, XBS, NEMO_APP, XIOS_APP, TEST_PRGENV_USER, TEST_NEMO_RESOURCE

        [[[environment]]]
            NEMO_TASKS_JPI={{NEMO_TASKS_JPI}}
            NEMO_TASKS_JPJ={{NEMO_TASKS_JPJ}}
            XIOS_TASKS={{XIOS_TASKS}}
            XIOS_TASKS_PER_NODE={{XIOS_TASKS_PER_NODE}}
            NEMO_TEST_TIME_LIMIT={{NEMO_TEST_TIME_LIMIT}}
            NEMO_RESULT_DIR=$ROSE_DATA/{{NEMO}}

    [[validate_oasis]]
        inherit=VALIDATE_APP

    [[validate_xios]]
        inherit=VALIDATE_APP
    
    [[validate_nemo]]
        inherit=VALIDATE_APP

    [[housekeeping_xios]]
        inherit=None, XBS, XC40_serial, HOUSEKEEPING, 
        [[[environment]]]
            RUNDIR=../testXios

    [[housekeeping_nemo]]
        inherit=None, XBS, XC40_serial, HOUSEKEEPING, 
        [[[environment]]]
            RUNDIR=../testNemo

    [[housekeeping_oasis]]
        inherit=None, XBS, XC40_serial, HOUSEKEEPING, 
        [[[environment]]]
            RUNDIR=../testOasis
    
    [[POSTPROC]]
        pre-command scripting = "ulimit -s unlimited"
        inherit=None, LINUX
        [[[environment]]]
            ROSE_TASK_APP = postproc
            RUNID      = hg3es
            MODELBASIS = 1981,10,1,0,0,0
            DATAM      = $CYLC_SUITE_SHARE_DIR/data/postproc/ATMOSdata
            NEMO_DATA  = $CYLC_SUITE_SHARE_DIR/data/postproc/NEMOdata
            CICE_DATA  = $CYLC_SUITE_SHARE_DIR/data/postproc/CICEdata
            INITCYCLE_OVERRIDE = '19811001T0000Z'

    [[PP_COUPLED_DUMMY]]
        inherit = None, POSTPROC
        [[[environment]]]
            ROSE_TASK_APP = pp_coupled_dummy

{%- for cycle in PP_CYCLES %}
{%- set CYCLEPOINT = '198%s01T0000Z' % (cycle) %}
    [[{{'postproc_198%s01' % (cycle)}}]]
        inherit=None, POSTPROC
        [[[environment]]]
            CYCLEPOINT_OVERRIDE = {{ CYCLEPOINT }}
  {%- if cycle == 301 %}
            ROSE_APP_OPT_CONF_KEYS = finalcycle
  {%- endif %}

    [[{{'coupled_dummy_198%s01' % (cycle)}}]]
        inherit=None, PP_COUPLED_DUMMY
	[[[environment]]]
            CYCLEPOINT = {{ CYCLEPOINT }}
{%- endfor %}

    [[pp_verify]]
        inherit = None, LINUX

   [[pp_unittests]]
        inherit = None, LINUX
	script = 'python2.7 $CYLC_SUITE_SHARE_DIR/fcm_make_pp/build/bin/test_postproc.py'
    
    [[housekeeping_pp]]
        inherit=None, LINUX, HOUSEKEEPING 
        [[[environment]]]
            RUNDIR="$CYLC_SUITE_SHARE_DIR/data/postproc $CYLC_SUITE_WORK_DIR/1/fcm_make_pp $CYLC_SUITE_WORK_DIR/1/postproc_* $CYLC_SUITE_WORK_DIR/1/pp_* $CYLC_SUITE_WORK_DIR/1/housekeeping_pp $CYLC_SUITE_WORK_DIR/1/coupled_dummy_*"

{% include 'site/'+SYSTEM_NAME+'.rc' %}
