#!jinja2

{% set TASK_RUN = "rose task-run --verbose -O '(" + SITE + ")'"%}
{% set PP_CYCLES = range(110,113)|list + range(201,213)|list + [301,]|list %}

{# Test to determine when to use single fcm_make tasks #}
{% set MULTISTEP_FCM = ['archer'] %}
{% if SITE in MULTISTEP_FCM %}
    {% set FCMPP_GRAPH = 'fcm_make_pp => fcm_make2_pp' %}
    {% set FCMPP_GRAPH2 = 'fcm_make2_pp' %}
{% else %}
    {% set FCMPP_GRAPH = 'fcm_make_pp' %}
    {% set FCMPP_GRAPH2 = 'fcm_make_pp' %}
{% endif %}

{# Test to determine if need to run pptransfer tasks #}
{% if SITE in ['archer'] %}
    {% set PPTRANSFER_GRAPH = 'fcm_make_pptransfer => fcm_make2_pptransfer => pptransfer_19811101\n postproc_19811001' + (":succeed-all" if SPLIT_PP else "") + ' => pptransfer_19811101' %}
{% else %}
    {% set PPTRANSFER_GRAPH = '' %}
{% endif %}

{% macro format_wallclock(time_list) -%}
    PT{{'%02d' % (time_list[0])}}H{{'%02d' % (time_list[1])}}M{{'%02d' % (time_list[2])}}S
{%- endmacro %}

# This links a name specified on the command in rose-stem with a
# set of cylc task dependencies
{# name_graphs contains test_option-dependency key-value pairs -#}
{%- set name_graphs = {
    "XBS_base_build" : "fcm_make_xiosScript_remote => fcm_make2_xiosScript_remote => xbs_unitTests => buildOasis
         fcm_make_oasis => buildOasis & xbs_unitTests
         fcm_make_xios => buildXios & xbs_unitTests
         buildOasis => buildXios => buildNemo",    
    "test_oasis" :
        "buildOasis => testOasis => validate_oasis => housekeeping_XBS",
    "test_xios" :  
        "buildXios => testXios => validate_xios => housekeeping_XBS", 
    "test_nemo_gyre" :  
        "buildNemo => testNemo => validate_nemo => housekeeping_XBS",
    "test_xios_nemo_noOasis" :
        "fcm_make2_xiosScript_remote => xbs_unitTests => buildXios_noOasis
         fcm_make_xios => buildXios_noOasis
         buildXios_noOasis => testXios_noOasis => validate_xios_noOasis => housekeeping_XBS
         buildXios_noOasis => buildNemo_noOasis => testNemo_noOasis => validate_nemo_noOasis => housekeeping_XBS",
    "test_postproc" :
        "
         test_mule:succeed => !remove_mule_from_postproc
         test_mule:fail => remove_mule_from_postproc & !test_mule
         test_mule | remove_mule_from_postproc => fcm_make_pp
         pp_clearlog & " + FCMPP_GRAPH + " => coupled_dummy_19811001 => postproc_19811001 & coupled_dummy_19811101
        " + PPTRANSFER_GRAPH + "
         coupled_dummy_19811101 => postproc_19811101 & coupled_dummy_19811201
         coupled_dummy_19811201 => postproc_19811201 & coupled_dummy_19820101
         coupled_dummy_19820101 => postproc_19820101 & coupled_dummy_19820201
         coupled_dummy_19820201 => postproc_19820201 & coupled_dummy_19820301
         coupled_dummy_19820301 => postproc_19820301 & coupled_dummy_19820401
         coupled_dummy_19820401 => postproc_19820401 & coupled_dummy_19820501
         coupled_dummy_19820501 => postproc_19820501 & coupled_dummy_19820601
         coupled_dummy_19820601 => postproc_19820601 & coupled_dummy_19820701
         coupled_dummy_19820701 => postproc_19820701 & coupled_dummy_19820801
         coupled_dummy_19820801 => postproc_19820801 & coupled_dummy_19820901
         coupled_dummy_19820901 => postproc_19820901 & coupled_dummy_19821001
         coupled_dummy_19821001 => postproc_19821001 & coupled_dummy_19821101
         coupled_dummy_19821101 => postproc_19821101 & coupled_dummy_19821201
         coupled_dummy_19821201 => postproc_19821201 & coupled_dummy_19830101
         coupled_dummy_19830101 => postproc_19830101" + (":succeed-all" if SPLIT_PP else "") + " => pp_verify " + ("& verify_final " if SITE == 'meto' else "") + " => housekeeping_pp
         postproc_19811001" + (":succeed-all" if SPLIT_PP else "") + " => postproc_19811101" + (":succeed-all" if SPLIT_PP else "") + " => \
         postproc_19811201" + (":succeed-all" if SPLIT_PP else "") + " => postproc_19820101" + (":succeed-all" if SPLIT_PP else "") + " => \
         postproc_19820201" + (":succeed-all" if SPLIT_PP else "") + " => postproc_19820301" + (":succeed-all" if SPLIT_PP else "") + " => \
         postproc_19820401" + (":succeed-all" if SPLIT_PP else "") + " => postproc_19820501" + (":succeed-all" if SPLIT_PP else "") + " => \
         postproc_19820601" + (":succeed-all" if SPLIT_PP else "") + " => postproc_19820701" + (":succeed-all" if SPLIT_PP else "") + " => \
         postproc_19820801" + (":succeed-all" if SPLIT_PP else "") + " => postproc_19820901" + (":succeed-all" if SPLIT_PP else "") + " => \
         postproc_19821001" + (":succeed-all" if SPLIT_PP else "") + " => postproc_19821101" + (":succeed-all" if SPLIT_PP else "") + " => \
         postproc_19821201" + (":succeed-all" if SPLIT_PP else "") + " => postproc_19830101" + (":succeed-all" if SPLIT_PP else "") + ("
         pp_nemomean_19811201 & pp_nemorst_19811201 => pp_verifynemo_19811201
         pp_nemomean_19820301 & pp_nemorst_19820301 => pp_verifynemo_19820301
         pp_nemomean_19820601 & pp_nemorst_19820601 => pp_verifynemo_19820601
         pp_nemomean_19820901 & pp_nemorst_19820901 => pp_verifynemo_19820901
         pp_nemomean_19821201 & pp_nemorst_19821201 => pp_verifynemo_19821201" if (SPLIT_PP and SITE == 'meto') else "") + "
         " + FCMPP_GRAPH2 + "=> pp_unittests",

    "default" : "default_task"
    }
-%}

# Define groups as lists of jobs and other groups
{# groups contains group_option-trigger_list key-value pairs. -#}
{# If a group option is set, each group or task in the trigger list will be set. -#}
{%- set groups = {
    "XBS_ALL"           : ["XBS_coupled", "XBS_xios_and_nemo"],
    "XBS_coupled"       : ["XBS_base_build", "test_oasis", "test_xios",  "test_nemo_gyre","test_xios_nemo_noOasis"],
    "XBS_xios_and_nemo" : ["XBS_base_build", "test_xios_nemo_noOasis"],
    "postproc"          : ["test_postproc"],
    "ALL"               : ["XBS_ALL","postproc"]
    }
%}

[scheduling]
    [[dependencies]]
        graph = """
{#- Recursively add dependencies from RUN_NAMES, replacing groups with subgroups/tasks #}
{%- set name_graphs_out = [] %}
{%- set graphs_out = [] %}
{%- for name in RUN_NAMES %}
    {%- set namestack = [name] %}
    {%- for stackname in namestack recursive %}
        {%- if stackname in name_graphs %}
            {% do name_graphs_out.append(stackname) %}
            {%- set outgraph = name_graphs[stackname] %}
            {%- if outgraph not in graphs_out %}
            {#- Add new dependency. #}
{{ outgraph }}
                {%- do graphs_out.append(outgraph) %}
            {%- endif %}
        {%- elif stackname in groups %}
        {#- Add the group contents to the stack. #}
{{ loop(groups[stackname]) }}
        {%- endif %}
    {%- endfor %}
{%- endfor %}
     """

[runtime]
    [[root]]
        init-script = """
export CYLC_VERSION={{CYLC_VERSION}}
export ROSE_VERSION={{ROSE_VERSION}}
export FCM_VERSION={{FCM_VERSION}}
"""
        script = "{{TASK_RUN}}"
        [[[events]]]
            submission timeout = PT12H # 12 hours
            execution timeout  =  PT3H # 3 hours
        [[[environment]]]
            SOURCE_MOCI_BASE = {{ SOURCE_MOCI_BASE }}
            SOURCE_MOCI_REV = {{ SOURCE_MOCI_REV }}
    [[LINUX]]
{% if USE_LINUX_SERVER %}
        inherit=LINUX_SERVER
{% else %}
        inherit=LINUX_DESKTOP
{% endif %}

    [[NEMO_16x32]]
        [[[environment]]]
            CICE_COL   = 1440
            CICE_ROW   = 1020
            CICE_BLKX  = 90
            CICE_BLKY  = 32
            CICE_MAXBK = 1
            NEMO_IPROC = 16
            NEMO_JPROC = 32
            NEMO_NPROC = 512
            CICE_NPROC = 512

    [[default_task]]
        inherit = LINUX
        script = "echo [ERROR] Please select a valid group within the test suite to test the component that has been modified >&2; exit 1"

    [[HOUSEKEEPING]]
{%- if HOUSEKEEPING == true %}
        script = "rose task-run --verbose"
{%- else %}
        script = "echo Not deleting $RUNDIR"
{%- endif %}
        [[[environment]]]
            ROSE_TASK_APP = housekeeping
    
    [[fcm_make_pp]]
        inherit = LINUX

{% if SITE in MULTISTEP_FCM %}
    [[fcm_make2_pp]]
        inherit = PPBUILD_RESOURCE
{% endif %}
            
    [[XBS]]
        env-script = "eval $(rose task-env)"
        
        [[[environment]]]
            SYSTEM_NAME={{SYSTEM_NAME}} 
            {% if VERBOSE %}
                VERBOSE = 'true'
            {% else %}
                VERBOSE = 'false'
            {% endif %}
            TASKS_PER_NODE={{TASKS_PER_NODE}}
            OASIS3_MCT={{OASIS3_MCT}}
            XIOS={{XIOS}}
            NEMO={{NEMO}} 
{% if USE_OASIS %}
  {% if BUILD_OASIS %}
      {% if DEPLOY_AS_MODULE == false %}
              OASIS_ROOT=$CYLC_SUITE_SHARE_DIR/{{OASIS3_MCT}}
      {% endif %}
              BUILD_OASIS=true
  {% else %}
            OASIS_ROOT={{OASIS_ROOT}}
            BUILD_OASIS=false
  {% endif %}
            USE_OASIS=true
{% else %}
            USE_OASIS=false
            BUILD_OASIS=false
{% endif %}
	    ROSE_SUITE_URL={{ROSE_SUITE_URL}}
	    ROSE_SUITE_REV_NO={{ROSE_SUITE_REV_NO}}
	    XBS_PREREQ_MODULES = {{XBS_PREREQ_MODULES}}
{% if XBS_SPECIFY_COMPILER_PRGENV %}
    XBS_SPECIFY_COMPILER_PRGENV = "true"
    XBS_COMPILER_PRGENV={{XBS_COMPILER_PRGENV}}
{% else %}
    XBS_SPECIFY_COMPILER_PRGENV = "false"
{% endif %}
        
    [[MODULE_DEPLOYMENT_APP]]
        [[[environment]]]
            {% if DEPLOY_AS_MODULE %}
                DEPLOY_AS_MODULE=true
            {% else %}
                DEPLOY_AS_MODULE=false
            {% endif %}
            MODULE_INSTALL_PATH={{MODULE_INSTALL_PATH}}
        
    [[OASIS_SRC]]
{% if USE_OASIS %}
        [[[environment]]]
            OASIS_MAKE_FILE_NAME = {{OASIS_MAKE_FILE_NAME}}
            OASIS_REPO_URL={{OASIS_REPO_URL}}
            OASIS_REV_NO={{OASIS_REV_NO}}
            
            {% if OASIS_SRC_LOCATION_TYPE == "URL" %}
                {% if OASIS_SEPARATE_EXTRACTION %}
                    OASIS_SRC_LOCATION_TYPE = local
                    OASIS_SRC_CODE_DIR = $CYLC_SUITE_SHARE_DIR/fcm_make_oasis/extract/oa3mct/
                {% else %}
                    OASIS_SRC_LOCATION_TYPE = {{OASIS_SRC_LOCATION_TYPE}}
                    {% if OASIS_SEPARATE_MAKEFILE %}
                        OASIS_MAKE_REV_NO={{OASIS_MAKE_REV_NO}}
                        OASIS_MAKE_REPO_URL={{OASIS_MAKE_REPO_URL}}
                    {% endif %}
                    {% if OASIS_SEPARATE_TUTORIAL %}
                        OASIS_TUTORIAL_REPO_URL={{OASIS_TUTORIAL_REPO_URL}}
                        OASIS_TUTORIAL_REV_NO={{OASIS_TUTORIAL_REV_NO}}
                    {% endif %}
                {% endif %}
            {% elif OASIS_SRC_LOCATION_TYPE == "local" %}
                OASIS_SRC_LOCATION_TYPE = {{OASIS_SRC_LOCATION_TYPE}}
                OASIS_SRC_CODE_DIR = {{OASIS_SRC_CODE_DIR}}
            {% endif %}

{% endif %}
            
     [[OASIS_APP]]
        inherit = OASIS_SRC
        [[[environment]]]
            {% if BUILD_OASIS %}
                OASIS_OUTPUT_DIR=$CYLC_SUITE_SHARE_DIR/{{OASIS3_MCT}}
            {% else %}
                OASIS_PREBUILD_DIR={{OASIS_ROOT}}
            {% endif %}
            OASIS_PLATFORM_NAME={{OASIS_PLATFORM_NAME}}  
            OASIS_MODULE_VERSION={{OASIS_MODULE_VERSION}}

     [[fcm_make_oasis]]
{% if OASIS_SEPARATE_EXTRACTION %}
        inherit = None, LINUX, OASIS_SRC
{% endif %}
        
     [[fcm_make2_oasis]]
{% if OASIS_SEPARATE_EXTRACTION %}
        inherit = None, XC40_serial
{% endif %}
     

     [[fcm_make_xios]]
{% if XIOS_SEPARATE_EXTRACTION %}
        inherit = None, LINUX, XIOS_APP
{% endif %}        
        
     [[fcm_make2_xios]]
{% if XIOS_SEPARATE_EXTRACTION %}
        inherit = None, XC40_serial
{% endif %}

    [[XIOS_APP]]
        [[[environment]]]
{% if XIOS_USE_PREBUILT_LIB %}
            XIOS_USE_PREBUILT_LIB=true
            XIOS_PREBUILT_DIR={{XIOS_PREBUILT_DIR}}
{% else %}
            XIOS_USE_PREBUILT_LIB=false
{% endif %}
            BUILD_PATH=$CYLC_SUITE_SHARE_DIR
     	    
            XIOS_REPO_URL={{XIOS_REPO_URL}}
            XIOS_REV={{XIOS_REV}}
            {% if XIOS_SRC_LOCATION_TYPE == "URL" %}
                {% if XIOS_SEPARATE_EXTRACTION %}
                    XIOS_SRC_LOCATION_TYPE = local
                    XIOS_SRC_CODE_DIR = $CYLC_SUITE_SHARE_DIR/fcm_make_xios/extract/xios/
                {% else %}
                    XIOS_SRC_LOCATION_TYPE = {{XIOS_SRC_LOCATION_TYPE}}
                {% endif %}
            {% elif OASIS_SRC_LOCATION_TYPE == "local" %}
                XIOS_SRC_CODE_DIR = {{XIOS_SRC_CODE_DIR}}
                XIOS_SRC_LOCATION_TYPE = {{XIOS_SRC_LOCATION_TYPE}}
            {% endif %}
            XIOS_VERSION={{XIOS_VERSION}}

    [[NEMO_APP]]
        [[[environment]]]
            NEMO_PATH=$CYLC_SUITE_SHARE_DIR/{{NEMO}}

    [[OASIS_BUILD_APP]]
        inherit = OASIS_APP
        [[[environment]]]
        {% if OASIS_BUILD_TUTORIAL %}
            OASIS_BUILD_TUTORIAL=true
        {% else %}
            OASIS_BUILD_TUTORIAL=false
        {% endif %}  
        
    [[XIOS_BUILD_APP]]
        inherit = XIOS_APP
        [[[environment]]]
{% if XIOS_USE_PREBUILT_LIB == false %}
            XIOS_NUM_CORES={{XIOS_NUM_CORES}}
{% endif %}
            XIOS_MODULE_VERSION={{XIOS_MODULE_VERSION}}
            XIOS_PRGENV_VERSION={{XIOS_PRGENV_VERSION}}
            
    [[NEMO_BUILD_APP]]
        inherit = NEMO_APP
        [[[environment]]]
            NEMO_SRC_LOCATION_TYPE = {{NEMO_SRC_LOCATION_TYPE}}
            NEMO_REPO_URL = {{NEMO_REPO_URL}}
            NEMO_REV = {{NEMO_REV}}
            {% if NEMO_SRC_LOCATION_TYPE == 'local' %}
                NEMO_SRC_CODE_DIR = {{NEMO_SRC_CODE_DIR}}
            {% endif %}         
            
    [[fcm_make_xiosScript_remote]]
        inherit = None, XBS, LINUX
        [[[environment]]]
            SOURCE_MOCI={{SOURCE_MOCI}}

    [[fcm_make2_xiosScript_remote]]
        inherit = None,XC40_serial
        [[[environment]]]
             SOURCE_MOCI={{SOURCE_MOCI}}
            
    [[xbs_unitTests]]
        inherit = None, XBS, OASIS_BUILD_APP, XIOS_BUILD_APP, NEMO_BUILD_APP, MODULE_DEPLOYMENT_APP, XBS_UNIT_TEST_SETUP, XBS_UNIT_TEST_RESOURCE, TEST_NEMO, BUILD_NEMO
        [[[environment]]]
            VERBOSE='true'
            XIOS_PATH='/path/to/xios/dir'
            OASIS_ROOT = '/path/to/oasis3mct/dir'
            NEMO_POST_BUILD_CLEANUP='false'
            XIOS_DO_CLEAN_BUILD='false'
            XIOS_EXTERNAL_REPO_URL='http://forge.ipsl.jussieu.fr/ioserver/svn/XIOS/trunk'
            XIOS_POST_BUILD_CLEANUP='false'
        
    [[buildOasis]]
        inherit = None, XBS, MODULE_DEPLOYMENT_APP, OASIS_BUILD_APP, BUILD_OASIS_RESOURCE, BUILD_OASIS_SETUP
    
    [[testOasis]]
        inherit = None, XBS, OASIS_APP, TEST_OASIS_SETUP, TEST_OASIS_RESOURCE
        [[[environment]]]
            OASIS_RESULT_DIR=$ROSE_DATA/{{OASIS3_MCT}}
            OASIS_TEST_NAME={{OASIS_TEST_NAME}}
            OASIS_DATA_DIRECTORY = {{OASIS_DATA_DIRECTORY}}
        
    [[buildXios]]
        inherit = None, XBS, XIOS_BUILD_APP, MODULE_DEPLOYMENT_APP, OASIS_SRC, BUILD_XIOS_SETUP, BUILD_XIOS_RESOURCE
    
    [[buildXios_noOasis]]
        inherit = None, XBS, XIOS_BUILD_APP, MODULE_DEPLOYMENT_APP, BUILD_XIOS_SETUP, BUILD_XIOS_RESOURCE
        [[[environment]]]
            USE_OASIS=false
            ROSE_TASK_APP=buildXios
            XIOS_MODULE_VERSION='{{XIOS_MODULE_VERSION}}-nooasis'
            XIOS_PRGENV_VERSION='{{XIOS_PRGENV_VERSION}}-nooasis'
            BUILD_PATH=$CYLC_SUITE_SHARE_DIR/nooasis/


    [[testXios]]
        inherit = None, XBS, XIOS_APP, TEST_PRGENV_USER, TEST_XIOS_RESOURCE
        [[[environment]]]
            XIOS_RESULT_DIR=$ROSE_DATA/{{XIOS}}
            
    [[testXios_noOasis]]
        inherit = None, XBS, XIOS_APP, TEST_NOOASIS_PRGENV_USER, TEST_XIOS_RESOURCE
        [[[environment]]]
            USE_OASIS=false
            XIOS_RESULT_DIR=$ROSE_DATA/{{XIOS}}_NO
            ROSE_TASK_APP=testXios
            XIOS_MODULE_VERSION='{{XIOS_MODULE_VERSION}}-nooasis'
            XIOS_PRGENV_VERSION='{{XIOS_PRGENV_VERSION}}-nooasis'
            BUILD_PATH=$CYLC_SUITE_SHARE_DIR/nooasis/
            
            
        
    [[BUILD_NEMO]]
    	[[[environment]]]

    [[buildNemo]]
        inherit = None, XBS, XIOS_APP, NEMO_BUILD_APP, BUILD_PRGENV_USER, BUILD_NEMO_RESOURCE, BUILD_NEMO

    [[buildNemo_noOasis]]
        inherit = None, XBS, XIOS_APP, NEMO_BUILD_APP, BUILD_NOOASIS_PRGENV_USER, BUILD_NEMO_RESOURCE, BUILD_NEMO
        [[[environment]]]
            USE_OASIS=false
            ROSE_TASK_APP=buildNemo
            XIOS_MODULE_VERSION='{{XIOS_MODULE_VERSION}}-nooasis'
            XIOS_PRGENV_VERSION='{{XIOS_PRGENV_VERSION}}-nooasis'
            BUILD_PATH=$CYLC_SUITE_SHARE_DIR/nooasis/


    [[TEST_NEMO]]
        [[[environment]]]
{% if XIOS_USE_SERVER %}            
            XIOS_USE_SERVER=true
{% else %}
            XIOS_USE_SERVER=false
{% endif %}
            NEMO_TASKS_JPI={{NEMO_TASKS_JPI}}
            NEMO_TASKS_JPJ={{NEMO_TASKS_JPJ}}
            XIOS_TASKS={{XIOS_TASKS}}
            XIOS_TASKS_PER_NODE={{XIOS_TASKS_PER_NODE}}
            NEMO_TEST_TIME={{ format_wallclock(NEMO_TEST_TIME) }}
            NEMO_RESULT_DIR=$ROSE_DATA/{{NEMO}}

    [[testNemo]]
        inherit=None, XBS, NEMO_APP, XIOS_APP, TEST_PRGENV_USER, TEST_NEMO_RESOURCE, TEST_NEMO
        
    [[testNemo_noOasis]]
        inherit=None, XBS, NEMO_APP, XIOS_APP, TEST_NOOASIS_PRGENV_USER, TEST_NEMO_RESOURCE, TEST_NEMO
        [[[environment]]]
            USE_OASIS=false
            ROSE_TASK_APP=testNemo
            NEMO_RESULT_DIR=$ROSE_DATA/{{NEMO}}_NO
            XIOS_MODULE_VERSION='{{XIOS_MODULE_VERSION}}-nooasis'
            XIOS_PRGENV_VERSION='{{XIOS_PRGENV_VERSION}}-nooasis'
            BUILD_PATH=$CYLC_SUITE_SHARE_DIR/nooasis/

    [[validate_oasis]]
        inherit=VALIDATE_APP

    [[validate_xios]]
        inherit=VALIDATE_APP
    
    [[validate_nemo]]
        inherit=VALIDATE_APP
        
    [[validate_xios_noOasis]]
        inherit=VALIDATE_APP
        [[[environment]]]
            ROSE_APP_OPT_CONF_KEYS=noOasis
            ROSE_TASK_APP=validate_xios
    
    [[validate_nemo_noOasis]]
        inherit=VALIDATE_APP
        [[[environment]]]
            ROSE_APP_OPT_CONF_KEYS=noOasis
            ROSE_TASK_APP=validate_nemo

    [[housekeeping_XBS]]
        inherit=None, XBS, XC40_serial, MODULE_DEPLOYMENT_APP
        script = '''
{% for dir1 in XBS_CLEANUP_DIRS %}
rm -rf {{dir1}}
{% endfor %}
'''
    [[POSTPROC]]
        inherit=None, POSTPROC_RESOURCE, PYTHON_ENV
        [[[environment]]]
            ROSE_TASK_APP = postproc
            RUNID      = hg3es
            DATAM      = $CYLC_SUITE_SHARE_DIR/data/postproc/ATMOSdata
            NEMO_DATA  = $CYLC_SUITE_SHARE_DIR/data/postproc/NEMOdata
            CICE_DATA  = $CYLC_SUITE_SHARE_DIR/data/postproc/CICEdata
            INITCYCLE_OVERRIDE = '19811001T0000Z'
            FINALCYCLE_OVERRIDE = '19830101T0000Z'
            ARCHIVE_SET = 'dummy'
            PP_TESTING_LOG = "python2.7 $CYLC_SUITE_RUN_DIR/app/postproc/bin/process_log.py"
            DATE1 = 19811001
            DATE2 = $(rose date $(echo $CYLC_TASK_NAME | tr '_' '\n' | tail -n1) --calendar 360day -s P1M -f '%Y%m%d')
            

{% if USE_LINUX_SERVER %}
        [[[directives]]]
            --mem=10G
            --ntasks=1
{% endif %}


    [[PP_COUPLED_DUMMY]]
        inherit = None, POSTPROC
        [[[environment]]]
            ROSE_TASK_APP = pp_coupled_dummy
            DATE2 = ''

    [[PP_TASKS]]
        inherit = None, POSTPROC


{%- for cycle in PP_CYCLES %}
{%- set CYCLEPOINT = '198%s01T0000Z' % (cycle) %}
{%- set cyclestring = '%s' % (cycle) %}
    [[{{'postproc_198%s01' % (cycle)}}]]
        inherit=None, PP_TASKS
        [[[environment]]]
            CYCLEPOINT_OVERRIDE = {{ CYCLEPOINT }}
    {%- if SITE == 'meto' and cyclestring[1:3] in ['03', '06', '09', '12'] %}
            VERIFY_ARCHIVE = true
    {%- endif %}

    {%- if SPLIT_PP %}
    [[{{'pp_nemorst_198%s01' % (cycle)}}]]
        inherit = {{'postproc_198%s01' % (cycle)}}
        script = """{{TASK_RUN}}  --command-key=pp_nemo \
--define='[namelist:nemo_processing]create_means=false' \
--define='[namelist:nemo_archiving]archive_means=false' """
        [[[environment]]]
           ROSE_APP_COMMAND_KEY = pp_nemo
           VERIFY_ARCHIVE = false

    [[{{'pp_nemomean_198%s01' % (cycle)}}]]
        inherit = {{'postproc_198%s01' % (cycle)}}
        script = """{{TASK_RUN}} --command-key=pp_nemo \
--define='[namelist:nemo_archiving]archive_restarts=false' """
        [[[environment]]]
           ROSE_APP_COMMAND_KEY = pp_nemo
           VERIFY_ARCHIVE = false

        {%- if cyclestring[1:3] in ['03', '06', '09', '12'] %}
    [[{{'pp_verifynemo_198%s01' % (cycle)}}]]
        inherit = None, {{'postproc_198%s01' % (cycle)}}
        script = """{{TASK_RUN}} --command-key=verify \
--define='[namelist:atmosverify]verify_model=false' \
--define='[namelist:ciceverify]verify_model=false' """
        [[[environment]]]
           ROSE_APP_COMMAND_KEY = verify
        {%- endif %}

    [[{{'pp_cice_198%s01' % (cycle)}}]]
        inherit = {{'postproc_198%s01' % (cycle)}}
        script = """{{TASK_RUN}} --command-key=pp_cice \
--define='[namelist:atmosverify]verify_model=false' \
--define='[namelist:nemoverify]verify_model=false' """
        [[[environment]]]
           ROSE_APP_COMMAND_KEY = pp_cice

    [[{{'pp_atmos_198%s01' % (cycle)}}]]
        inherit = {{'postproc_198%s01' % (cycle)}}
        script = """{{TASK_RUN}} --command-key=pp_atmos \
--define='[namelist:ciceverify]verify_model=false' \
--define='[namelist:nemoverify]verify_model=false' """
        [[[environment]]]
           ROSE_APP_COMMAND_KEY = pp_atmos
    {%- endif %}     

    [[{{'coupled_dummy_198%s01' % (cycle)}}]]
        inherit=None, PP_COUPLED_DUMMY
	[[[environment]]]
            CYCLEPOINT = {{ CYCLEPOINT }}
{%- endfor %}

    [[verify_final]]
       inherit=None, PP_TASKS
       script = """{{TASK_RUN}} --command-key=verify """
       [[[environment]]]
           ROSE_APP_COMMAND_KEY = verify
           CYCLEPOINT_OVERRIDE = 19830101T0000Z
           DATE2 = 19830201

    [[pp_verify]]
        inherit = None, VERIFY_RESOURCE

    [[pp_unittests]]
        inherit = None, UNITTESTS_RESOURCE, PYTHON_ENV
        env-script = "eval $(rose task-env)"
	# Run each of the main groups (common, atmos, nemocice) first - helps to spot any leaking tests.
        # Finally run 'all' - sweeps up any tests not covered in the main groups
        script = run_python_env.sh test_postproc -g common -g atmos -g nemocice -g platforms -g all

    [[test_mule]]
        inherit = None, LINUX, PYTHON_ENV
        script = run_python_env.sh test_mulepath.py

    [[remove_mule_from_postproc]]
       inherit = None, LINUX
       script = cylc broadcast $CYLC_SUITE_NAME -n PP_TASKS -s [environment]"ROSE_APP_OPT_CONF_KEYS=disable_mule"

    
    [[pp_clearlog]]
        inherit = None, LINUX
        script = if [ -f  "$CYLC_SUITE_SHARE_DIR/cylclog" ] ; then rm $CYLC_SUITE_SHARE_DIR/cylclog ; fi

    [[housekeeping_pp]]
        inherit=None, HOUSEKEEP_RESOURCE, HOUSEKEEPING 
        [[[environment]]]
            RUNDIR="$CYLC_SUITE_SHARE_DIR/data/postproc $CYLC_SUITE_WORK_DIR/1/fcm_mak*_pp $CYLC_SUITE_WORK_DIR/1/p*_* $CYLC_SUITE_WORK_DIR/1/housekeeping_pp $CYLC_SUITE_WORK_DIR/1/coupled_dummy_*"

{% include 'site/'+SYSTEM_NAME+'.rc' %}
