#!jinja2

{% set TASK_RUN = "rose task-run --verbose -O '(" + SITE + ")'"%}
{% set PP_CYCLES = range(110,113)|list + range(201,213)|list + [301,]|list %}

{# Test to determine when to use single fcm_make tasks #}
{% set MULTISTEP_FCM = ['archer'] %}
{% if SITE in MULTISTEP_FCM %}
    {% set FCMPP_GRAPH = 'fcm_make_pp => fcm_make2_pp' %}
    {% set FCMPP_GRAPH2 = 'fcm_make2_pp' %}
{% else %}
    {% set FCMPP_GRAPH = 'fcm_make_pp' %}
    {% set FCMPP_GRAPH2 = 'fcm_make_pp' %}
{% endif %}

{# Test to determine if need to run pptransfer tasks #}
{% if SITE in ['archer'] %}
    {% set PPTRANSFER_GRAPH = 'fcm_make_pptransfer => fcm_make2_pptransfer => pptransfer_19811101\n postproc_19811001' + (":succeed-all" if SPLIT_PP else "") + ' => pptransfer_19811101' %}
{% else %}
    {% set PPTRANSFER_GRAPH = '' %}
{% endif %}

{% macro format_wallclock(time_list) -%}
    PT{{'%02d' % (time_list[0])}}H{{'%02d' % (time_list[1])}}M{{'%02d' % (time_list[2])}}S
{%- endmacro %}

# This links a name specified on the command in rose-stem with a
# set of cylc task dependencies
{# name_graphs contains test_option-dependency key-value pairs -#}
{%- set name_graphs = {
    "test_postproc" :
        "
         test_mule:succeed => !remove_mule_from_postproc
         test_mule:fail => remove_mule_from_postproc & !test_mule
         test_mule | remove_mule_from_postproc => fcm_make_pp
         pp_clearlog & " + FCMPP_GRAPH + " => coupled_dummy_19811001 => postproc_19811001 & coupled_dummy_19811101
        " + PPTRANSFER_GRAPH + "
         coupled_dummy_19811101 => postproc_19811101 & coupled_dummy_19811201
         coupled_dummy_19811201 => postproc_19811201 & coupled_dummy_19820101
         coupled_dummy_19820101 => postproc_19820101 & coupled_dummy_19820201
         coupled_dummy_19820201 => postproc_19820201 & coupled_dummy_19820301
         coupled_dummy_19820301 => postproc_19820301 & coupled_dummy_19820401
         coupled_dummy_19820401 => postproc_19820401 & coupled_dummy_19820501
         coupled_dummy_19820501 => postproc_19820501 & coupled_dummy_19820601
         coupled_dummy_19820601 => postproc_19820601 & coupled_dummy_19820701
         coupled_dummy_19820701 => postproc_19820701 & coupled_dummy_19820801
         coupled_dummy_19820801 => postproc_19820801 & coupled_dummy_19820901
         coupled_dummy_19820901 => postproc_19820901 & coupled_dummy_19821001
         coupled_dummy_19821001 => postproc_19821001 & coupled_dummy_19821101
         coupled_dummy_19821101 => postproc_19821101 & coupled_dummy_19821201
         coupled_dummy_19821201 => postproc_19821201 & coupled_dummy_19830101
         coupled_dummy_19830101 => postproc_19830101" + (":succeed-all" if SPLIT_PP else "") + " => pp_verify " + ("& verify_final " if SITE == 'meto' else "") + " => housekeeping_pp
         postproc_19811001" + (":succeed-all" if SPLIT_PP else "") + " => postproc_19811101" + (":succeed-all" if SPLIT_PP else "") + " => \
         postproc_19811201" + (":succeed-all" if SPLIT_PP else "") + " => postproc_19820101" + (":succeed-all" if SPLIT_PP else "") + " => \
         postproc_19820201" + (":succeed-all" if SPLIT_PP else "") + " => postproc_19820301" + (":succeed-all" if SPLIT_PP else "") + " => \
         postproc_19820401" + (":succeed-all" if SPLIT_PP else "") + " => postproc_19820501" + (":succeed-all" if SPLIT_PP else "") + " => \
         postproc_19820601" + (":succeed-all" if SPLIT_PP else "") + " => postproc_19820701" + (":succeed-all" if SPLIT_PP else "") + " => \
         postproc_19820801" + (":succeed-all" if SPLIT_PP else "") + " => postproc_19820901" + (":succeed-all" if SPLIT_PP else "") + " => \
         postproc_19821001" + (":succeed-all" if SPLIT_PP else "") + " => postproc_19821101" + (":succeed-all" if SPLIT_PP else "") + " => \
         postproc_19821201" + (":succeed-all" if SPLIT_PP else "") + " => postproc_19830101" + (":succeed-all" if SPLIT_PP else "") + ("
         pp_nemomean_19811201 & pp_nemorst_19811201 => pp_verifynemo_19811201
         pp_nemomean_19820301 & pp_nemorst_19820301 => pp_verifynemo_19820301
         pp_nemomean_19820601 & pp_nemorst_19820601 => pp_verifynemo_19820601
         pp_nemomean_19820901 & pp_nemorst_19820901 => pp_verifynemo_19820901
         pp_nemomean_19821201 & pp_nemorst_19821201 => pp_verifynemo_19821201" if (SPLIT_PP and SITE == 'meto') else "") + "
         " + FCMPP_GRAPH2 + "=> pp_unittests",

    "default" : "default_task",
    "test_drivers_unit" : "fcm_make_drivers => drivers_unittests & mct_validate_unittests" + (" => housekeeping_driver_linux" if HOUSEKEEPING else ""),
    "test_drivers_misc" : "fcm_make_drivers => drivers_check_python_tabs" + (" => housekeeping_driver_linux" if HOUSEKEEPING else ""),
    "test_drivers_run_exz" : """
        fcm_make_driversexz => fcm_make2_driversexz => coupledexz
	fcm_make_umexz => reconexz => coupledexz
        fcm_make_oceanexz => fcm_make2_oceanexz => reconexz
        install_ancilexz => reconexz
        reconexz => coupledexz => check_coupledexz" + (" => housekeeping_driver_hpcexz & housekeeping_driver_linuxexz" if HOUSEKEEPING else "")+"
	""",
    "test_drivers_run" : """
        fcm_make_drivers => fcm_make2_drivers => coupled
        fcm_make_um => recon => coupled
        fcm_make_ocean => fcm_make2_ocean => recon
        install_ancil => recon
        recon => coupled => check_coupled" + (" => housekeeping_driver_hpc" if HOUSEKEEPING else "")+"
        """,
    "test_drivers_verify_metrics" : "test_verify_metrics"  + (" => housekeeping_driver_linux" if HOUSEKEEPING else ""),
    "test_drivers_plot_cpmip" : "fcm_make_drivers => test_plot_cpmip_summary" + (" => housekeeping_driver_linux" if HOUSEKEEPING else ""),
    }
-%}

# Define groups as lists of jobs and other groups
{# groups contains group_option-trigger_list key-value pairs. -#}
{# If a group option is set, each group or task in the trigger list will be set. -#}
{%- set groups = {
    "drivers_non_run"   : ['test_drivers_unit', 'test_drivers_verify_metrics', 'test_drivers_plot_cpmip', 'test_drivers_misc'],
    "drivers"           : ['test_drivers_unit', 'test_drivers_verify_metrics', 'test_drivers_plot_cpmip', 'test_drivers_run', 'test_drivers_misc', 'test_drivers_run_exz'],
    "driversexz"        : ["test_drivers_run_exz"],
    "postproc"          : ["test_postproc"],
    "ALL"               : ["postproc", "drivers"]
    }
%}
[cylc]
    UTC mode = True
    [[events]]
        timeout handler = "rose suite-hook --shutdown"
        mail events = timeout
        timeout = PT6H

[scheduling]
    [[dependencies]]
        graph = """
{#- Recursively add dependencies from RUN_NAMES, replacing groups with subgroups/tasks #}
{%- set name_graphs_out = [] %}
{%- set graphs_out = [] %}
{%- for name in RUN_NAMES %}
    {%- set namestack = [name] %}
    {%- for stackname in namestack recursive %}
        {%- if stackname in name_graphs %}
            {% do name_graphs_out.append(stackname) %}
            {%- set outgraph = name_graphs[stackname] %}
            {%- if outgraph not in graphs_out %}
            {#- Add new dependency. #}
{{ outgraph }}
                {%- do graphs_out.append(outgraph) %}
            {%- endif %}
        {%- elif stackname in groups %}
        {#- Add the group contents to the stack. #}
{{ loop(groups[stackname]) }}
        {%- endif %}
    {%- endfor %}
{%- endfor %}
     """

[runtime]
    [[root]]
        script = "{{TASK_RUN}}"
        [[[events]]]
            submission timeout = PT12H # 12 hours
            execution timeout  =  PT3H # 3 hours
        [[[environment]]]
            SOURCE_MOCI_BASE = {{ HOST_SOURCE_MOCI_BASE }}

    [[LINUX]]
{% if USE_LINUX_SERVER %}
        inherit=LINUX_SERVER
{% else %}
        inherit=LINUX_DESKTOP
{% endif %}

    [[default_task]]
        inherit = LINUX
        script = "echo [ERROR] Please select a valid group within the test suite to test the component that has been modified >&2; exit 1"

    [[HOUSEKEEPING]]
{% if HOUSEKEEPING == true %}
        script = "rose task-run --verbose"
{% else %}
        script = "echo Not deleting $RUNDIR"
{% endif %}
        [[[environment]]]
            ROSE_TASK_APP = housekeeping

{% include 'site/'+SYSTEM_NAME+'.rc' %}

{% include 'tasks-postproc.rc' %}
{% include 'tasks-drivers.rc' %}
{% include 'tasks-drivers-exz.rc' %}
