{# The following is to test the drivers unit tests #}

    [[fcm_make_drivers]]
        inherit=LINUX

    [[fcm_make2_drivers]]
        inherit = None, HPC
        [[[job]]]
            execution time limit = PT10M
        [[[environment]]]
            ROSE_TASK_N_JOBS = 1
        [[[directives]]]
            -l ncpus = 1
            -q = shared

    [[drivers_unittests]]
        inherit = None, UNITTESTS_RESOURCE, PYTHON3_ENV
	env-script = "eval $(rose task-env)"
	script = run_python_env.sh $CYLC_SUITE_SHARE_DIR/fcm_make_drivers/extract/drivers/Coupled_Drivers/unittests/test.py

    [[drivers_check_python_tabs]]
        inherit = None, VERIFY_RESOURCE
        script = test_tab.sh $CYLC_SUITE_SHARE_DIR/fcm_make_drivers/extract/drivers/Coupled_Drivers

    [[mct_validate_unittests]]
        inherit = None, UNITTESTS_RESOURCE, PYTHON3_ENV
        env-script = "eval $(rose task-env)"
        script = run_python_env.sh $CYLC_SUITE_SHARE_DIR/fcm_make_drivers/extract/drivers/Coupled_Drivers/driver_utilities/mct_validate/unittests/test.py

    [[test_verify_metrics]]
        inherit = None, VERIFY_RESOURCE, PYTHON3_ENV
	env-script = "eval $(rose task-env)"
        script = 'rose task-run --verbose'

    [[test_plot_cpmip_summary]]
        inherit = None, VERIFY_RESOURCE, PYTHON3_ENV
        env-script = "eval $(rose task-env)"
        script = 'rose task-run --verbose'
        post-script = "if [ ! -s plot_out.png ]; then echo 'Expected output file plot_out.png not found' 1>&2; exit 1; fi"

{# The following is to test the drivers in a model run #}

{% set NON_RIGOROUS_PATH='--path= --path=$CYLC_SUITE_SHARE_DIR/fcm_make_ocean/build-ocean/bin/ --path=$CYLC_SUITE_SHARE_DIR/fcm_make_um/build-*/bin/ --path=$CYLC_SUITE_SHARE_DIR/fcm_make_drivers/extract/drivers/Coupled_Drivers/' %}
{% set CYCLE_INIT = '%04d%02d%02dT%02d%02d' % (BASIS[0],BASIS[1],BASIS[2],BASIS[3],BASIS[4]) %}
{% set NEMO_NPROC = NEMO_IPROC*NEMO_JPROC %}
{% set OMPTHR_OCN = 1 %}
{% set OMPTHR_ATM = 1 %}
{% set HYPERTHREADS = 1 %}
{% set OHYPERTHREADS = 1 %}
{% set PPN = 36 %}
{% set IOS_NPROC = 0 %}

    [[HPC]]
        {% set CYCLE_INIT = '%04d%02d%02dT%02d%02d' % (BASIS[0],BASIS[1],BASIS[2],BASIS[3],BASIS[4]) %}
{% if HOST_HPC == 'xc' %}
        {% set MODULE_CMD = 'module use /data/d00/moci/modules/modules; module load GC4-PrgEnv/2020-06-cray834/3586;' %}
{% elif HOST_HPC == 'xcs' %}
        {% set MODULE_CMD = 'module use /common/moci/modules/modules; module load GC4-PrgEnv/2020-06-cray834/3586;' %}
{% endif %}
        env-script = "eval $(rose task-env)"
        pre-script = "{{MODULE_CMD}} module load craype-hugepages8M; module list"
        [[[job]]]
            batch system = pbs
        [[[remote]]]
            host = $(rose host-select {{ HOST_HPC }})
        [[[environment]]]
            BASIS_YR = $(rose date --print-format='%Y' {{CYCLE_INIT}})
            PLATFORM = xc40
            UMDIR = /projects/um1
            UM_NSTALL_DIR = /projects/um1
            OCEANDIR = /projects/ocean
            CMIP6_ANCILS = /projects/ancils/cmip6/ancils
        [[[directives]]]
            -W umask=0022

    [[fcm_make_um]]
        inherit = HPC
        script = """
             rose task-run --verbose --define=fast-dest-root-orig=$TMPDIR --define=fast-dest-root-cont=$TMPDIR --define='args=--archive'
        """
        [[[environment]]]
            ARCHIVE_FCM_MAKE = true
            CONFIG = meto-xc40-cce
            ROSE_TASK_N_JOBS = 6
            FCM_MAKE_FILE = main
            OPTIM_LEVEL=safe
        [[[job]]]
            execution time limit = PT1H50M
        [[[directives]]]
            -l ncpus = 6
            -l mem = 4GB
            -q = shared
            -l tmpsize=4gb

    [[fcm_make_ocean]]
        [[[job]]]
            batch system = slurm
            execution time limit = PT5M
        [[[environment]]]
            OPTIM_LEVEL=safe
        [[[directives]]]
            --mem=1G
            --ntasks=1

    [[fcm_make2_ocean]]
        inherit = HPC
        script = """
              rose task-run --verbose --define=fast-dest-root-orig=$TMPDIR --define=fast-dest-root-cont=$TMPDIR --define='args=--archive'
        """
        [[[environment]]]
            ARCHIVE_FCM_MAKE = true
            CONFIG = meto-xc40-cce
            ROSE_TASK_N_JOBS = 6
            FCM_MAKE_FILE = main
            OPTIM_LEVEL=safe
        [[[job]]]
            execution time limit = PT1H50M
        [[[directives]]]
            -l ncpus = 6
            -l mem = 4GB
            -q = shared
            -l tmpsize=4gb

    [[install_ancil]]
        inherit = HPC
        [[[job]]]
            execution time limit = PT20M
        [[[environment]]]
            ROSE_TASK_N_JOBS = 1
        [[[directives]]]
            -l ncpus = 1
            -q = shared

    [[ATMOS_RESOURCE]]
        [[[environment]]]
            {% set UM_ATM_NPROC = ATM_PROCX * ATM_PROCY + IOS_NPROC %}
            {% set ATMOS_NODES = (((ATM_PROCX*ATM_PROCY+(IOS_NPROC if IOS_NPROC is defined else 0))*OMPTHR_ATM)/(PPN*HYPERTHREADS))|round(0,"ceil")|int %}
            ROSE_LAUNCHER_PREOPTS_UM = -n {{UM_ATM_NPROC}} -N {{PPN}} -d {{OMPTHR_ATM}} -j {{HYPERTHREADS}} env OMP_NUM_THREADS={{OMPTHR_ATM}} env HYPERTHREADS={{HYPERTHREADS}}

    [[OCEAN_RESOURCE]]
        [[[environment]]]
            {% set OCEAN_NODES = (NEMO_NPROC*OMPTHR_OCN/(PPN*OHYPERTHREADS))|round(0,"ceil")|int %}
            ROSE_LAUNCHER_PREOPTS_NEMO = -n {{NEMO_NPROC}} -N {{PPN}} -d {{OMPTHR_OCN}} -j {{OHYPERTHREADS}} env OMP_NUM_THREADS={{OMPTHR_OCN}} env HYPERTHREADS={{OHYPERTHREADS}}
            {% if XIOS_NPROC is defined and XIOS_NPROC > 0 %}
              {% set XIOS_NPROC = XIOS_NPROC if XIOS_NPROC is defined else 0 %}
              {% set XIOS_NODES = (XIOS_NPROC/PPN)|round(0,'ceil')|int %}
              ROSE_LAUNCHER_PREOPTS_XIOS  = -ss -n {{XIOS_NPROC}} -N {{XIOS_NPROC}} -d 1 -j 1 env OMP_NUM_THREADS=1 env HYPERTHREADS=1
            {% endif %}
            
    [[COUPLED_RESOURCE]]
        inherit = HPC,ATMOS_RESOURCE,OCEAN_RESOURCE
        [[[job]]]
            execution time limit =  PT{{'%02d' % (CLOCK[0])}}H{{'%02d' % (CLOCK[1])}}M{{'%02d' % (CLOCK[2])}}S
        [[[environment]]]
            ROSE_LAUNCHER= aprun
            COUPLED_PLATFORM = XC40
            {% if IOS_NPROC > 0 %}
              MPICH_MAX_THREAD_SAFETY=multiple
              MPICH_NEMESIS_ASYNC_PROGRESS=mc
            {% else %}
              MPICH_COLL_SYNC=MPI_Gatherv
            {% endif %}
            MPICH_GNI_ROUTING_MODE = ADAPTIVE_2
            OMP_STACKSIZE=2G
        [[[directives]]]
            -l select = {{ATMOS_NODES + OCEAN_NODES + (XIOS_NODES if XIOS_NODES is defined else 0)}}:coretype='broadwell':subproject='climate'
            -q = normal

    [[ATMOS]]
        [[[environment]]]
            ATMOS_EXEC = $CYLC_SUITE_SHARE_DIR/fcm_make_um/build-atmos/bin/um-atmos.exe
            UM_ATM_NPROCX      = {{ATM_PROCX}}
            UM_ATM_NPROCY      = {{ATM_PROCY}}
            FLUME_IOS_NPROC    = {{IOS_NPROC}}
            ATMOS_TIMESTEPS_PER_DAY = 72
            ATMOS_SECONDS_PER_TIMESTEP = 1200
            NSTEP_RIVERS = 3
            COUPLING_HOURS = 1
            UMVN = 11.8

    [[OCEAN]]
        [[[environment]]]
            OCEAN_EXEC=$CYLC_SUITE_SHARE_DIR/fcm_make_ocean/build-ocean/bin/nemo-cice.exe
            NEMO_IPROC = {{NEMO_IPROC}}
            NEMO_JPROC = {{NEMO_JPROC}}
	    NEMO_NPROC = {{NEMO_NPROC}}
            NEMO_VERSION = 306
            NEMO_RST = $CYLC_SUITE_SHARE_DIR/data/drivers/History_Data/NEMOhist
            OCEAN_SEAICE_TIMESTEPS_PER_DAY = 72
            OCEAN_SEAICE_SECONDS_PER_TIMESTEP = 1200
            XIOS_NPROC = 6
            CICE_NPROC = {{NEMO_NPROC}}
            CICE_RST = $CYLC_SUITE_SHARE_DIR/data/drivers/History_Data/CICEhist

    [[COUPLED]]
        inherit = ATMOS,OCEAN
        [[[environment]]]
            L_MCT_VALIDATE = True
            CALENDAR = 360day
            RUNID = drive
            DATAM = $CYLC_SUITE_SHARE_DIR/data/drivers/History_Data
            MODELBASIS       = '{{ BASIS | join(',') }}'

    [[recon]]
        inherit = None, HPC, COUPLED
        pre-script = "{{MODULE_CMD}} module list"
        script = ". $ROSE_DATA/etc/um_ancils_gl; . $ROSE_DATA/etc/nemo_ancils_gl; rose task-run --verbose {{NON_RIGOROUS_PATH}}"
        [[[job]]]
            execution time limit = PT50M
        [[[directives]]]
            -l select=1
            -q = normal
        [[[environment]]]
            TASKEND          = '{{ BASIS | join(',') }}'
            CONFIG = meto-xc40-cce
            ROSE_LAUNCHER = aprun
            ROSE_LAUNCHER_PREOPTS = -ss -n {{RCF_PROCX * RCF_PROCY}} -d 1 -j 1
            ROSE_TASK_APP    = coupled
            OMP_NUM_THREADS  = 1
            RCF_NPROCX       = {{RCF_PROCX}}
            RCF_NPROCY       = {{RCF_PROCY}}
            NEMO_NPROC       = 0

    [[coupled]]
        inherit = None, COUPLED, COUPLED_RESOURCE
        pre-script = "{{MODULE_CMD}} module list"
        script = "source $UMDIR/mule/modules/setup; module load scitools/default-current; module load um_tools; . $ROSE_DATA/etc/um_ancils_gl; . $ROSE_DATA/etc/nemo_ancils_gl; rose task-run --verbose {{NON_RIGOROUS_PATH}}"
        [[[environment]]]
            PPN = {{PPN}}
            CICE_ROW = 1205
            CICE_COL = 1440
            TASKSTART = $( rose date {{CYCLE_INIT}} --print-format %Y,%m,%d,%H,%M )
            TASKLENGTH = $( rose date {{CYCLE_INIT}} {{CYCLE_INIT}} --calendar 360day --offset2 P1D --print-format y,m,d,h,M,s )
            TASKEND = $( rose date {{CYCLE_INIT}} {{CYCLE_INIT}} --calendar 360day --offset2 P1D --print-format y,m,d,h,M,s )
            ROSE_TASK_APP          = coupled
            CPMIP_ANALYSIS = true
            CALENDAR = 360day
            CONTINUE               = ""
            CPMIP_ANALYSIS         = true
	    CYCLE = 'D'
            RESUB = 1
            COMPLEXITY = false
            TOTAL_POWER_CONSUMPTION = 4.8
            NODES_IN_HPC = 12932
	    IO_COST = true
            DATA_INTENSITY = true

    [[check_coupled]]
        inherit = HPC, COUPLED
        pre-script = 'module load scitools/default-current'
        script = 'rose task-run --verbose'
        [[[job]]]
            execution time limit = PT10M
        [[[environment]]]
            ROSE_TASK_N_JOBS = 1
            COUPLED_MODEL_WORK_DIR = coupled
        [[[directives]]]
            -l ncpus = 1
            -q = shared

    [[housekeeping_driver_linux]]
        inherit=None, HOUSEKEEP_RESOURCE, HOUSEKEEPING
        [[[environment]]]
            RUNDIR="$CYLC_SUITE_WORK_DIR/1/fcm_make_drivers $CYLC_SUITE_WORK_DIR/1/fcm_make_ocean $CYLC_SUITE_WORK_DIR/1/test_plot_cpmip_summary $CYLC_SUITE_WORK_DIR/1/test_verify_metrics $CYLC_SUITE_SHARE_DIR/fcm_make_drivers $CYLC_SUITE_SHARE_DIR/fcm_make_ocean $CYLC_SUITE_WORK_DIR/1/housekeeping_driver_linux"

    [[housekeeping_driver_hpc]]
        inherit=None, HPC, HOUSEKEEPING
        [[[job]]]
            execution time limit = PT10M
        [[[environment]]]
            ROSE_TASK_N_JOBS = 1
            RUNDIR="$CYLC_SUITE_SHARE_DIR/fcm_make_drivers $CYLC_SUITE_SHARE_DIR/fcm_make_ocean $CYLC_SUITE_SHARE_DIR/fcm_make_um $CYLC_SUITE_SHARE_DIR/data/drivers $CYLC_SUITE_WORK_DIR/1/coupled $CYLC_SUITE_WORK_DIR/1/fcm_make2_drivers $CYLC_SUITE_WORK_DIR/1/fcm_make2_ocean $CYLC_SUITE_WORK_DIR/1/fcm_make_um $CYLC_SUITE_WORK_DIR/1/install_ancil $CYLC_SUITE_WORK_DIR/1/recon $CYLC_SUITE_WORK_DIR/1/check_coupled $CYLC_SUITE_WORK_DIR/1/housekeeping_driver_hpc"
        [[[directives]]]
            -l ncpus = 1
            -q = shared