@charset "UTF-8";

.table1  {border-collapse:collapse;border-spacing:0;}
.table1 td{border-bottom-width:1px;border-color:black;border-style:solid;border-top-width:1px;border-width:0px;font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:3px 10px;word-break:normal;}
.table1 th{border-bottom-width:1px;border-color:black;border-style:solid;border-top-width:1px;border-width:0px;font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:3px 10px;word-break:normal;}
.table1 .table1-header_merged{background-color:#b9dc0c;border-color:#343434;font-weight:bold;text-align:left;vertical-align:top}
.table1 .table1-header_normal{background-color:#b9dc0c;border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.table1 .table1-header_blank{background-color:#b9dc0c;border-color:inherit;text-align:left;vertical-align:top}
.table1 .table1-datarow{border-color:inherit;text-align:left;vertical-align:top}
.table1 .table1-datarow_hl{border-color:inherit;text-align:left;vertical-align:top;font-weight:bold}
