    [[ARCHER]]
        initial scripting = "export HOME=$DATADIR"
        [[[job]]]
            batch system = pbs
        [[[remote]]]
            host = $(rose host-select {{ COMPUTE_HOST }})
        [[[directives]]]
            -W umask=0022
            -A = n02-cms
             
    [[ARCHER_serial]]
        inherit = ARCHER
        [[[environment]]]
            ROSE_TASK_N_JOBS=1
        [[[directives]]]
            -l walltime=00:30:00
            -l select=serial=true:ncpus=1

    [[PPBUILD_RESOURCE]]
        inherit = ARCHER_serial

    [[POSTPROC_RESOURCE]]
        inherit = ARCHER_serial
        pre-script = "module load anaconda/2.2.0-python2; module load nco; export PYTHONPATH=/home/n02/n02/ros/software/lib/python2.7/site-packages:$PYTHONPATH; module list"

    [[PPTRANSFER]]
        [[[remote]]]
            host = dtn02.rdf.ac.uk
        [[[environment]]]
            UMDIR=~um

    [[PPTRANSFER_BUILD]]
        [[[environment]]]
            ROSE_TASK_APP=fcm_make_pp

    [[fcm_make_pptransfer]]
        inherit = None, LINUX, PPTRANSFER_BUILD

    [[fcm_make2_pptransfer]]
        inherit = None, PPTRANSFER, PPTRANSFER_BUILD
   
    [[pptransfer_19811101]]
        inherit = PPTRANSFER
        pre-script = "module load anaconda"
        script = "{{TASK_RUN}} --command-key=pptransfer"
        [[[environment]]]
            ROSE_TASK_APP=postproc
            ROSE_APP_COMMAND_KEY = pptransfer
            PLATFORM = linux
            RUNID      = hg3es
            DATAM      = $CYLC_SUITE_SHARE_DIR/data/postproc/ATMOSdata
            NEMO_DATA  = $CYLC_SUITE_SHARE_DIR/data/postproc/NEMOdata
            CICE_DATA  = $CYLC_SUITE_SHARE_DIR/data/postproc/CICEdata
            ARCHIVE_SET = 'dummy'
            DATE1 = 19811001
            DATE2 = 19812001
            CYCLEPOINT_OVERRIDE = 19811101T0000Z

    [[VERIFY_RESOURCE]]
        inherit = ARCHER_serial

    [[UNITTESTS_RESOURCE]]
        inherit = ARCHER_serial
        pre-command scripting = "module load anaconda/2.2.0-python2; export PYTHONPATH=/home/n02/n02/ros/software/lib/python2.7/site-packages:$PYTHONPATH;  module list"

    [[HOUSEKEEP_RESOURCE]]
        inherit = ARCHER_serial

# Families not used on ARCHER but need to be defined as referenced in suite.rc file!!
    [[XC40]]

    [[XC40_serial]]

    [[XBS_UNIT_TEST_SETUP]]

    [[XBS_UNIT_TEST_RESOURCE]]

    [[BUILD_OASIS_RESOURCE]]

    [[BUILD_OASIS_SETUP]]

    [[TEST_OASIS_SETUP]]

    [[TEST_OASIS_RESOURCE]]

    [[BUILD_XIOS_SETUP]]

    [[BUILD_XIOS_RESOURCE]]

    [[TEST_PRGENV_USER]]

    [[TEST_XIOS_RESOURCE]]

    [[BUILD_PRGENV_USER]]

    [[BUILD_NEMO_RESOURCE]]

    [[TEST_NEMO_RESOURCE]]

    [[VALIDATE_APP]]

    [[BUILD_NOOASIS_PRGENV_USER]]

    [[TEST_NOOASIS_PRGENV_USER]]

    [[LINUX_SERVER]]
 
    [[LINUX_DESKTOP]]

