{% if EXTRACT_HOST is defined %}
    [[LINUX_DESKTOP]]
        pre-script = "module load scitools/default-current"
        [[[job]]]
            batch system = background
        [[[remote]]]
            host = $(rose host-select {{EXTRACT_HOST}})
{% endif %}
    
    [[LINUX_SERVER]]
        pre-script = "module load scitools/default-current"
        [[[job]]]
            batch system = slurm
            execution time limit = PT15M
        [[[directives]]]
            --ntasks=1
            --mem=1G
            --qos=normal
            --partition=rhel7

    [[POSTPROC_RESOURCE]]
        inherit = LINUX, PYTHON_ENV
        pre-script = "run_python_env.sh"

    [[VERIFY_RESOURCE]]
        inherit = POSTPROC_RESOURCE
	
    [[UNITTESTS_RESOURCE]]
        inherit = POSTPROC_RESOURCE

    [[HOUSEKEEP_RESOURCE]]
        inherit = LINUX

    [[PYTHON_ENV]]
        [[[environment]]]
            PYTHON_ENVIRONMENT = """
module unload scitools um_tools
{% if PYTHON3 %}
module load scitools scitools/default-current ;
module swap ifort/16.0_64 ;
module load um_tools ;
{% else %}
module load scitools/production_legacy-os42-1
{% endif %}
module list ;
echo ;
"""

    [[PYTHON3_ENV]]
        [[[environment]]]
            PYTHON_ENVIRONMENT = """
module unload scitools;
module load scitools scitools/default-current;
module list;
echo;
"""
