    [[XC40]]
        [[[job submission]]]
            method = pbs
        [[[remote]]]
            host = $(rose host-select {{ COMPUTE_HOST}})
        [[[directives]]]
            -W umask=0022
    [[XC40_serial]]
        inherit = XC40
        [[[environment]]]
            ROSE_TASK_N_JOBS=1
        [[[directives]]]
            -l walltime=00:10:00
            -l ncpus=1
            -q = shared

    [[XBS_UNIT_TEST_SETUP]]
            pre-command scripting = '''
{% if USE_RAMDISK%}
    export WORKING_DIR=$RAMTMP
{% else %}
    export WORKING_DIR=$CYLC_TASK_WORK_DIR
{% endif %}
'''

    [[XBS_UNIT_TEST_RESOURCE]]
        inherit=XC40_serial
        [[[directives]]]
            -l walltime=00:05:00
            -l ncpus=2
            -l mem=2000MB
            -q = shared
{% if SPECIFY_PROJECT %}
            -P = climate
{% endif %}
{% if USE_RAMDISK %}
            -l tmpsize=2gb
{% endif %}

    [[BUILD_OASIS_SETUP]]
        pre-command scripting = """
{% if USE_RAMDISK %}
    export WORKING_DIR=$RAMTMP
{% endif %}            
{% if XBS_SPECIFY_COMPILER_PRGENV %}
    module swap PrgEnv-cray {{XBS_COMPILER_PRGENV}}
{% endif %}
{% for mod_name in XBS_PREREQ_MODULES %}
    module load {{mod_name}}
{% endfor %}
""" 

    [[BUILD_OASIS_RESOURCE]]
        inherit=XC40_serial
        [[[directives]]]
            -l walltime=00:10:00
            -l ncpus={{XIOS_NUM_CORES}}
            -l mem=2000MB
{% if USE_RAMDISK %}
            -l tmpsize=2gb
{% endif %} 
            -q = shared
{% if SPECIFY_PROJECT %}
            -P = climate
{% endif %}



    [[TEST_OASIS_SETUP]]
        pre-command scripting = """
{% if XBS_SPECIFY_COMPILER_PRGENV %}
    module swap PrgEnv-cray {{XBS_COMPILER_PRGENV}}
{% endif %}
{% for mod_name in XBS_PREREQ_MODULES %}
    module load {{mod_name}}
{% endfor %}
{% if DEPLOY_AS_MODULE %}
module use {{MODULE_INSTALL_PATH}}/modules; 
module load {{OASIS3_MCT}}/{{OASIS_MODULE_VERSION}}/{{ROSE_SUITE_REV_NO}}/{{OASIS_REV_NO}}
{% endif %}
"""

    [[TEST_OASIS_RESOURCE]]
        inherit=XC40
        [[[directives]]]
            -l walltime=00:10:00
            -l select=2
            
    [[BUILD_XIOS_SETUP]]
        pre-command scripting = """
{% if USE_RAMDISK %}
    export WORKING_DIR=$RAMTMP
{% endif %}            
{% if XBS_SPECIFY_COMPILER_PRGENV %}
    module swap PrgEnv-cray {{XBS_COMPILER_PRGENV}}
{% endif %}
{% for mod_name in XBS_PREREQ_MODULES %}
    module load {{mod_name}}
{% endfor %}
{% if USE_OASIS and DEPLOY_AS_MODULE %}
module use {{MODULE_INSTALL_PATH}}/modules
module load {{OASIS3_MCT}}/{{OASIS_MODULE_VERSION}}/{{ROSE_SUITE_REV_NO}}/{{OASIS_REV_NO}}
{% endif %}
"""

    [[BUILD_XIOS_RESOURCE]]
        inherit=XC40_serial
        [[[directives]]]
            -l walltime=00:40:00
    {% if XIOS_USE_PREBUILT_LIB == false %}
            -l ncpus={{XIOS_NUM_CORES}}
    {% else %}
            -l ncpus=1
    {% endif %}
            -l mem=2000MB
{% if USE_RAMDISK %}
            -l tmpsize=4gb
{% endif %}            

    [[BUILD_PRGENV_USER]]
        pre-command scripting = """
{% if DEPLOY_AS_MODULE %}
module use {{MODULE_INSTALL_PATH}}/modules; 
module load {{XIOS}}-PrgEnv/{{XIOS_PRGENV_VERSION}}
{% else %}
{% if XBS_SPECIFY_COMPILER_PRGENV %}
    module swap PrgEnv-cray {{XBS_COMPILER_PRGENV}}
{% endif %}
{% for mod_name in XBS_PREREQ_MODULES %}
    module load {{mod_name}}
{% endfor %}
{% endif %}
{% if USE_RAMDISK %}
    export WORKING_DIR=$RAMTMP
{% endif %}
"""

    [[TEST_PRGENV_USER]]
        pre-command scripting = """
{% if DEPLOY_AS_MODULE %}
module use {{MODULE_INSTALL_PATH}}/modules; 
module load {{XIOS}}-PrgEnv/{{XIOS_PRGENV_VERSION}}
{% else %}
{% if XBS_SPECIFY_COMPILER_PRGENV %}
    module swap PrgEnv-cray {{XBS_COMPILER_PRGENV}}
{% endif %}
{% for mod_name in XBS_PREREQ_MODULES %}
    module load {{mod_name}}
{% endfor %}
{% endif %}
"""
    
    [[TEST_XIOS_RESOURCE]]
        inherit=XC40
        [[[directives]]]
            -l walltime=00:10:00
            -l select=2
            -q = normal
{% if SPECIFY_PROJECT %}
            -P = climate
{% endif %}
    
    [[BUILD_NEMO_RESOURCE]]
        inherit=XC40_serial
        [[[directives]]]
            -q = shared
{% if SPECIFY_PROJECT %}
            -P = climate
{% endif %}
            -l ncpus=8
            -l walltime=00:20:00
{% if USE_RAMDISK %}
            -l tmpsize=4gb
{% endif %}            

    [[TEST_NEMO_RESOURCE]]
        inherit=XC40
        [[[directives]]]
            -q = normal
{% if SPECIFY_PROJECT %}
            -P = climate
{% endif %}
{% if (NEMO_TASKS_JPI*NEMO_TASKS_JPJ)%TASKS_PER_NODE == 0 %}
    {% if (XIOS_TASKS % XIOS_TASKS_PER_NODE == 0) %}
            -l select={{(NEMO_TASKS_JPI*NEMO_TASKS_JPJ)//TASKS_PER_NODE + (XIOS_TASKS//XIOS_TASKS_PER_NODE) }}
    {% else %}
            -l select={{(NEMO_TASKS_JPI*NEMO_TASKS_JPJ)//TASKS_PER_NODE + (XIOS_TASKS//XIOS_TASKS_PER_NODE) + 1 }}
    {% endif %}
{% else %}
    {% if (XIOS_TASKS % XIOS_TASKS_PER_NODE == 0) %}
            -l select={{(NEMO_TASKS_JPI*NEMO_TASKS_JPJ)//TASKS_PER_NODE + (XIOS_TASKS//XIOS_TASKS_PER_NODE) + 1}}
    {% else %}
            -l select={{(NEMO_TASKS_JPI*NEMO_TASKS_JPJ)//TASKS_PER_NODE + (XIOS_TASKS//XIOS_TASKS_PER_NODE) + 2 }}
    {% endif %}
{% endif %}
            -l walltime={{NEMO_TEST_TIME_LIMIT}}

    [[VALIDATE_APP]]
        inherit=None, XBS, XC40_serial
        pre-command scripting="""module load scitools/production
"""
        [[[environment]]]
            KGO_DIR={{KGO_DIR}}
