#Set the coupler to oasis3_mct as this only sets cpp keys for the UM and will have no effect on NEMO
# except that without this the coupling flags will be set to an empty string and cause an error
# (NEMO should always be linked to oasis anyway as XIOS is compiled in this way
$COUPLER = oasis3_mct
include = parallel.cfg

$keys_nemo_platform = key_mpp_mpi

$fcflags_nemo_common =  -real-size 64 -integer-size 32 $fcflags_common     

$use_xios{?} = 
$incflags_xios{?} = -I\$xios_path/inc $use_xios
$ldflags_xios{?} = -L\$xios_path/lib 
$ldflags_ocean{?} = -L$netcdf_lib_path $ldflags_options $ldflags_xios --lnetcdff -lnetcdf -lhdf5 -lxios -lstdc++

preprocess-ocean.prop{cpp.flags} = -E -C $cppflags_coupling
preprocess-ocean.prop{fpp.flags} = -E -P -traditional-cpp $fppflags_coupling

build-ocean.prop{cc.flags} = -O3 -g $ccflags_coupling
build-ocean.prop{fc.flags-ld} = $ldflags_overrides_prefix $ldflags_ocean $ldflags_coupling $ldflags_overrides_suffix
