#!jinja2
{% set TASK_RUN = 'rose task-run --verbose' %}

[cylc]
    # Timeout handlers
    [[event hooks]]
        timeout handler = "rose suite-hook --shutdown"
        timeout = P3D

# This links a name specified on the command in rose-stem with a
# set of cylc task dependencies
{# name_graphs contains test_option-dependency key-value pairs -#}
{%- set name_graphs = {
    "test_oasis" :
        "fcm_make_xiosScript_remote => buildOasis
         fcm_make_xiosScript_remote => xbs_unitTests => buildOasis
         fcm_make_xiosScript_local => validate_oasis
         buildOasis => testOasis => validate_oasis => housekeeping_oasis
         fcm_make_xiosScript_local => validation_prepare => testOasis",


    "test_xios" :  
        "fcm_make_xiosScript_remote => buildOasis => buildXios
         fcm_make_xiosScript_remote => xbs_unitTests => buildOasis
         buildXios => testXios => validate_xios => housekeeping_xios
         fcm_make_xiosScript_local => validate_xios 
         fcm_make_xiosScript_local => validation_prepare => testXios", 

    "test_nemo_gyre" :  
        "fcm_make_xiosScript_remote => buildOasis => buildXios => buildNemo 
         fcm_make_xiosScript_remote => xbs_unitTests => buildOasis
         buildNemo => testNemo => validate_nemo => housekeeping_nemo
         fcm_make_xiosScript_local => validate_nemo
         fcm_make_xiosScript_local =>validation_prepare => testNemo",
                      }
-%}

# Define groups as lists of jobs and other groups
{# groups contains group_option-trigger_list key-value pairs. -#}
{# If a group option is set, each group or task in the trigger list will be set. -#}
{%- set groups = {
    "all"               : ["test_oasis", "test_xios",  "test_nemo_gyre"],
    "xios_and_nemo"     : ["test_xios",  "test_nemo_gyre"],
    }
%}

# This loops over all tasks specified in the RUN_NAMES Jinja2 variable
[scheduling]
    [[dependencies]]
        graph = """
{#- Recursively add dependencies from RUN_NAMES, replacing groups with subgroups/tasks #}
{%- set name_graphs_out = [] %}
{%- set graphs_out = [] %}
{%- for name in RUN_NAMES %}
    {%- set namestack = [name] %}
    {%- for stackname in namestack recursive %}
        {%- if stackname in name_graphs %}
            {%- if name_graphs_out.append(stackname) %}
            {%- endif %}
            {%- set outgraph = name_graphs[stackname] %}
            {%- if outgraph not in graphs_out %}
            {#- Add new dependency. #}
{{ outgraph }}
                {%- if graphs_out.append(outgraph) %}
                {%- endif %}
            {%- endif %}
        {%- elif stackname in groups %}
        {#- Add the group contents to the stack. #}
{{ loop(groups[stackname]) }}
        {%- endif %}
    {%- endfor %}
{%- endfor %}
"""

[runtime]
    [[root]]
{% if TEST_SYSTEM == "UKMO_IBM_PW7" %}
        pre-command scripting = ". /critical/opt/Modules/default/init/ksh; module load xlf/v14.1.0.1; module load xlcpp/v12.1.0.0"
{% endif %}
        command scripting = rose task-run
        environment scripting = "eval $(rose task-env)"
        [[[event hooks]]]
           succeeded handler = rose suite-hook
#           failed handler = rose suite-hook --shutdown
#           submission failed handler = rose suite-hook --shutdown
           submission timeout handler = rose suite-hook --mail
           execution timeout handler = rose suite-hook --mail
           submission timeout = P1D # 24 hours
           execution timeout = PT3H # 3 hours
           submitted handler = "echo queue start time $(rose date) >> ~/rose.log"
           started handler =  "echo job started time $(rose date) >> ~/rose.log"
    [[[environment]]]
            TasksPerNode={{TasksPerNode}}
            XIOS={{XIOS}}
            NEMO={{NEMO}} 
            ZLIB={{ZLIB}}
            HDF5={{HDF5}}
            NETCDF={{NETCDF}}
            TEST_SYSTEM={{TEST_SYSTEM}}
	    ROSE_SUITE_URL={{ROSE_SUITE_URL}}
	    ROSE_SUITE_REV_NO={{ROSE_SUITE_REV_NO}}
{% if USE_OASIS %}
  {% if BUILD_OASIS %}
      {% if DEPLOY_AS_MODULE == false %}
              OASIS_ROOT=$CYLC_SUITE_SHARE_DIR/{{OASIS3_MCT}}
      {% endif %}
              BUILD_OASIS=true
  {% else %}
            OASIS_ROOT={{OASIS_ROOT}}
            BUILD_OASIS=false
  {% endif %}
            USE_OASIS=true
{% else %}
            USE_OASIS=false
            BUILD_OASIS=false
{% endif %}

            XLF_MODULE={{XLF_MODULE}}
            XLCPP_MODULE={{XLCPP_MODULE}}
{% if TOOLS_USE_PREBUILT %}
            TOOLS_USE_PREBUILT=true
{% else %}
            TOOLS_USE_PREBUILT=false
{% endif %}


    [[REMOTE_APP]]
        [[[remote]]]
{% if TEST_SYSTEM == "UKMO_IBM_PW7" %}
            host = hpc2e
{% elif TEST_SYSTEM == "UKMO_CRAY_XC40" %}
            host = $(rose host-select {{ HPC_HOST }})
{% endif %}
        [[[job submission]]]
{% if TEST_SYSTEM == "UKMO_IBM_PW7" %}
            method = loadleveler
{% elif TEST_SYSTEM == "UKMO_CRAY_XC40" %}
            method = pbs
{% endif %}

    [[BUILD_TOOL]]
        [[[environment]]]
{% if TOOLS_USE_PREBUILT == false %}
            DEPENDENCY_SRC_DIR={{DEPENDENCY_SRC_DIR}}
            TOOLS_BUILD_PATH=$CYLC_SUITE_SHARE_DIR/{{TOOLS_BUILD_DIR}}
{% endif %}

    [[TOOL_USER]]
        [[[environment]]]
{% if TOOLS_USE_PREBUILT %}
            MTOOLS={{TOOLS_PREBUILT_DIR}}
            NETCDF_PATH={{TOOLS_PREBUILT_DIR}}
{% else %}
            MTOOLS=$CYLC_SUITE_SHARE_DIR/{{TOOLS_BUILD_DIR}}
            NETCDF_PATH=$CYLC_SUITE_SHARE_DIR/{{TOOLS_BUILD_DIR}}
{% endif %}

    [[XIOS_APP]]
        [[[environment]]]
{% if XIOS_USE_PREBUILT_LIB %}
            XIOS_USE_PREBUILT_LIB=true
        XIOS_PREBUILT_DIR={{XIOS_PREBUILT_DIR}}
{% else %}
            XIOS_USE_PREBUILT_LIB=false
{% endif %}
{% if TEST_SYSTEM == "UKMO_IBM_PW7" %}
            XIOS_PATH=$CYLC_SUITE_SHARE_DIR/{{XIOS}}
{% endif %}

            BUILD_PATH=$CYLC_SUITE_SHARE_DIR
            XIOS_REPO_URL={{XIOS_REPO_URL}}
            XIOS_REV={{XIOS_REV}}

    [[NEMO_APP]]
        [[[environment]]]
            JP_CFG = '50'
            NEMO_PATH=$CYLC_SUITE_SHARE_DIR/{{NEMO}}

    [[fcm_make_xiosScript_remote]]
        inherit = None,REMOTE_APP
{% if TEST_SYSTEM == "UKMO_CRAY_XC40" %}
        [[[directives]]]
            -q = shared
            -P = climate
            -l walltime = 00:01:00
            -l ncpus=1
{% endif %}            

    [[MODULE_DEPLOYMENT_APP]]
        [[[environment]]]
            {% if DEPLOY_AS_MODULE %}
                DEPLOY_AS_MODULE=true
            {% else %}
                DEPLOY_AS_MODULE=false
            {% endif %}
            MODULE_INSTALL_PATH={{MODULE_INSTALL_PATH}}
        
        
    [[buildZlib]]
        inherit = None,BUILD_TOOL, REMOTE_APP
        [[[job submission]]]
            method = at
        
    [[buildHdf5]]
        inherit=None,BUILD_TOOL,REMOTE_APP
        [[[directives]]]
{% if TEST_SYSTEM == "UKMO_IBM_PW7" %}
            class            = parallel
            job_type         = parallel
            node = 1
            tasks_per_node = 1
            job_name         = build_hdf5
            wall_clock_limit = 00:45:00
            resources = ConsumableMemory(2500Mb)
            notification = never
{% elif TEST_SYSTEM == "UKMO_CRAY_XC40" %}
            -l walltime=00:45:00
            -l select=1
            -q = parallel
{% endif %}
    
    [[buildNetcdf]]
        inherit=None,BUILD_TOOL,REMOTE_APP
        [[[directives]]]
{% if TEST_SYSTEM == "UKMO_IBM_PW7" %}
            class            = parallel
            job_type         = parallel
            job_name         = build_netcdf
            node = 1
            total_tasks = 1
            node_usage = shared
            wall_clock_limit = 01:00:00
            notification = never
{% elif TEST_SYSTEM == "UKMO_CRAY_XC40" %}
            -l select=1:ncpus=1
            -l walltime=01:00:00
            -q = shared
{% endif %}

     [[OASIS_SRC]]
         [[[environment]]]
            OASIS_REPO_URL={{OASIS_REPO_URL}}
            OASIS_REV_NO={{OASIS_REV_NO}}

     [[OASIS_APP]]
        inherit=OASIS_SRC
        [[[environment]]]
            {% if BUILD_OASIS %}
                OASIS_DIR=$CYLC_SUITE_SHARE_DIR/{{OASIS3_MCT}}
            {% else %}
                OASIS_DIR={{OASIS_ROOT}}
            {% endif %}
            OASIS3_MCT={{OASIS3_MCT}}
            OASIS_PLATFORM_NAME={{OASIS_PLATFORM_NAME}}  
            SYSTEM_NAME={{TEST_SYSTEM}} 
            OASIS_MODULE_VERSION={{OASIS_MODULE_VERSION}}
     
     [[xbs_unitTests]]
        inherit = None, REMOTE_APP
        [[[directives]]]
{% if TEST_SYSTEM == "UKMO_CRAY_XC40" %}
            -l walltime=00:05:00
            -l ncpus=2
            -l mem=2000MB
            -q = shared
            -P = climate
{% endif %}
        
        

     [[buildOasis]]
        inherit = None,REMOTE_APP, OASIS_APP, MODULE_DEPLOYMENT_APP
        [[[environment]]]
        {% if OASIS_BUILD_TUTORIAL %}
            OASIS_BUILD_TUTORIAL=true
        {% else %}
            OASIS_BUILD_TUTORIAL=false
        {% endif %}

            
        [[[directives]]]
{% if TEST_SYSTEM == "UKMO_CRAY_XC40" %}
            -l walltime=00:10:00
            -l ncpus={{XIOS_NUM_CORES}}
            -l mem=2000MB
            -q = shared
            -P = climate
{% endif %}

     [[testOasis]]
        inherit = None,REMOTE_APP, OASIS_APP
{% if TEST_SYSTEM == "UKMO_CRAY_XC40" %}
        pre-command scripting = """
module load cray-hdf5-parallel/1.8.13
module load cray-netcdf-hdf5parallel/4.3.2
{% if DEPLOY_AS_MODULE %}
module use {{MODULE_INSTALL_PATH}}/modules; 
module load {{OASIS3_MCT}}/{{OASIS_MODULE_VERSION}}/{{ROSE_SUITE_REV_NO}}/{{OASIS_REV_NO}}
{% endif %}
"""
{% endif %}
        [[[directives]]]
{% if TEST_SYSTEM == "UKMO_CRAY_XC40" %}
            -l walltime=00:10:00
            -l select=2
            -q = normal
            -P = climate
{% endif %}

        [[[environment]]]
        OASIS_RESULT_DIR=$ROSE_DATA/{{OASIS3_MCT}}
        OASIS_TEST_NAME={{OASIS_TEST_NAME}}
            
     
     [[buildXios]]
        inherit = None,XIOS_APP, REMOTE_APP, TOOL_USER, MODULE_DEPLOYMENT_APP,OASIS_SRC
{% if TEST_SYSTEM == "UKMO_CRAY_XC40" %}
        pre-command scripting = """
module load cray-hdf5-parallel/1.8.13
module load cray-netcdf-hdf5parallel/4.3.2
module swap PrgEnv-cray PrgEnv-cray/5.2.40
{% if USE_OASIS and DEPLOY_AS_MODULE %}
module use {{MODULE_INSTALL_PATH}}/modules
module load {{OASIS3_MCT}}/{{OASIS_MODULE_VERSION}}/{{ROSE_SUITE_REV_NO}}/{{OASIS_REV_NO}}
{% endif %}
"""

{% endif %}

        [[[environment]]]
{% if XIOS_USE_PREBUILT_LIB == false %}
            XIOS_NUM_CORES={{XIOS_NUM_CORES}}
{% endif %}
            XIOS_MODULE_VERSION={{XIOS_MODULE_VERSION}}
            XIOS_PRGENV_VERSION={{XIOS_PRGENV_VERSION}}

        [[[directives]]]
{% if TEST_SYSTEM == "UKMO_IBM_PW7" %}
            class  = serial
            job_type = serial
            job_name = build_xios
    {% if XIOS_USE_PREBUILT_LIB == false %}
            resources = ConsumableCpus({{XIOS_NUM_CORES}}) ConsumableMemory(8000mb)
    {% else %}
            resources = ConsumableCpus(1) ConsumableMemory(8000mb)
    {% endif %}
            wall_clock_limit = 01:40:00
            notification = never
{% elif TEST_SYSTEM == "UKMO_CRAY_XC40" %}
            -l walltime=00:50:00
    {% if XIOS_USE_PREBUILT_LIB == false %}
            -l ncpus={{XIOS_NUM_CORES}}
    {% else %}
            -l ncpus=1
    {% endif %}
            -l mem=2000MB
            -q = shared
            -P = climate
{% endif %}


    [[testXios]]
        inherit = None,XIOS_APP,REMOTE_APP
{% if TEST_SYSTEM == "UKMO_CRAY_XC40" %}
        pre-command scripting = """
module load cray-hdf5-parallel/1.8.13
module load cray-netcdf-hdf5parallel/4.3.2
{% if DEPLOY_AS_MODULE %}
module use {{MODULE_INSTALL_PATH}}/modules; 
module load {{XIOS}}/{{XIOS_MODULE_VERSION}}
{% endif %}
"""
{% endif %}
        [[[directives]]]
{% if TEST_SYSTEM == "UKMO_IBM_PW7" %}
            class            = parallel          
            job_type         = parallel          
            job_name         = test_detached_multiple    
            notification     = error             
            resources        = ConsumableMemory(1500mb)  
            node             = 1                 
            total_tasks      = 10            
            node_usage       = not_shared            
            task_affinity    = core(1)           
            cpu_limit        = 00:01:00          
            wall_clock_limit = 00:01:00          
{% elif TEST_SYSTEM == "UKMO_CRAY_XC40" %}
            -l walltime=00:10:00
            -l select=2
            -q = normal
            -P = climate
{% endif %}
        [[[environment]]]
        XIOS_RESULT_DIR=$ROSE_DATA/{{XIOS}}

    [[buildNemo]]
        inherit = None,XIOS_APP,NEMO_APP,REMOTE_APP, TOOL_USER
{% if TEST_SYSTEM == "UKMO_CRAY_XC40" %}
        pre-command scripting = """module use {{MODULE_INSTALL_PATH}}/modules
module load {{XIOS}}-PrgEnv/{{XIOS_PRGENV_VERSION}}/{{ROSE_SUITE_REV_NO}}"""
{% endif %}
        [[[environment]]]
            NEMO_REPO_URL = {{NEMO_REPO_URL}}
            NEMO_REV = {{NEMO_REV}}
        [[[directives]]]
{% if TEST_SYSTEM == "UKMO_IBM_PW7" %}
            class            = serial
            job_type         = serial
            job_name         = build_nemo
            resources        = ConsumableCpus(8) ConsumableMemory(8000mb)
            wall_clock_limit = 00:20:00
            notification = never
{% elif TEST_SYSTEM == "UKMO_CRAY_XC40" %}
            -q = shared
            -l select=1:ncpus=8
            -l walltime=00:20:00
{% endif %}

    [[testNemo]]
        inherit=None,NEMO_APP,XIOS_APP,REMOTE_APP
{% if TEST_SYSTEM == "UKMO_CRAY_XC40" %}
        pre-command scripting = """module use {{MODULE_INSTALL_PATH}}/modules
module load {{XIOS}}-PrgEnv/{{XIOS_PRGENV_VERSION}}/{{ROSE_SUITE_REV_NO}}
"""

{% endif %}
        [[[directives]]]
{% if TEST_SYSTEM == "UKMO_IBM_PW7" %}
            class            = parallel
            job_type         = parallel
            job_name         = test_nemo
            resources        = ConsumableMemory(1500mb)
    {% if (nemoTasksJpi*nemoTasksJpj + xiosTasks)%32 == 0 %}
            node             = {{(nemoTasksJpi*nemoTasksJpj + xiosTasks)//32 }}
    {% else %}
            node             = {{(nemoTasksJpi*nemoTasksJpj + xiosTasks)//32 + 1 }}
    {% endif %}
            total_tasks      = {{nemoTasksJpi*nemoTasksJpj + xiosTasks}}
            wall_clock_limit = 01:15:00
            cpu_limit        = 01:15:00
            node_usage       = not_shared
            notification = never
{% elif TEST_SYSTEM == "UKMO_CRAY_XC40" %}
            -q = normal
    {% if (nemoTasksJpi*nemoTasksJpj)%TasksPerNode == 0 %}
        {% if (xiosTasks % XiosTasksPerNode == 0) %}
            -l select={{(nemoTasksJpi*nemoTasksJpj)//TasksPerNode + (xiosTasks//XiosTasksPerNode) }}
        {% else %}
            -l select={{(nemoTasksJpi*nemoTasksJpj)//TasksPerNode + (xiosTasks//XiosTasksPerNode) + 1 }}
        {% endif %}
    {% else %}
        {% if (xiosTasks % XiosTasksPerNode == 0) %}
            -l select={{(nemoTasksJpi*nemoTasksJpj)//TasksPerNode + (xiosTasks//XiosTasksPerNode) + 1}}
        {% else %}
            -l select={{(nemoTasksJpi*nemoTasksJpj)//TasksPerNode + (xiosTasks//XiosTasksPerNode) + 2 }}
        {% endif %}
    {% endif %}
            -l walltime={{NEMO_TEST_TIME_LIMIT}}
            -P = climate
{% endif %}
        [[[environment]]]
            nemoTasksJpi={{nemoTasksJpi}}
            nemoTasksJpj={{nemoTasksJpj}}
            xiosTasks={{xiosTasks}}
            XiosTasksPerNode={{XiosTasksPerNode}}
            NEMO_TEST_TIME_LIMIT={{NEMO_TEST_TIME_LIMIT}}
            NEMO_RESULT_DIR=$ROSE_DATA/{{NEMO}}

    [[LOCAL_APP]]
        [[[remote]]]
            host={{ROSE_ORIG_HOST}}
        [[[job submission]]]
            method=at

    [[fcm_make_xiosScript_local]]
        inherit = None,LOCAL_APP

    [[validation_prepare]]
        inherit=None,LOCAL_APP
        [[[environment]]]
            XIOS_RESULT_DIR=$ROSE_DATA/{{XIOS}}/
            NEMO_RESULT_DIR=$ROSE_DATA/{{NEMO}}/
            OASIS_RESULT_DIR=$ROSE_DATA/{{OASIS3_MCT}}/

    [[validate_oasis]]
        inherit=None,LOCAL_APP
        [[[environment]]]
            OASIS_KGO_DIR={{KGO_DIR}}/{{OASIS3_MCT}}
            OASIS_RESULT_DIR=$ROSE_DATA/{{OASIS3_MCT}}
            OASIS_REMOTE_RESULT_DIR=$(rose host-select {{HPC_HOST}} ):cylc-run/$CYLC_SUITE_NAME/share/data/{{OASIS3_MCT}}

    [[validate_xios]]
        inherit=None,LOCAL_APP
        [[[environment]]]
            XIOS_KGO_DIR={{KGO_DIR}}/{{XIOS}}
            XIOS_RESULT_DIR=$ROSE_DATA/{{XIOS}}
            XIOS_REMOTE_RESULT_DIR=$(rose host-select {{HPC_HOST}} ):cylc-run/$CYLC_SUITE_NAME/share/data/{{XIOS}}
    
    [[validate_nemo]]
        inherit=None,LOCAL_APP
        [[[environment]]]
            NEMO_KGO_DIR={{KGO_DIR}}/{{NEMO}}
            NEMO_RESULT_DIR=$ROSE_DATA/{{NEMO}}
            NEMO_REMOTE_RESULT_DIR=$(rose host-select {{HPC_HOST}} ):cylc-run/$CYLC_SUITE_NAME/share/data/{{NEMO}}
    [[HOUSEKEEPING]]
        inherit=None,REMOTE_APP
{%- if HOUSEKEEPING == true %}
        command scripting = "rose task-run --verbose"
{%- else %}
        command scripting = "echo Not deleting $RUN_DIR"
{%- endif %}
       [[[directives]]]
{% if TEST_SYSTEM == "UKMO_CRAY_XC40" %}
            -l walltime=00:05:00
            -l ncpus=1
            -q = shared
{% endif %}        

    [[housekeeping_xios]]
        inherit=None, HOUSEKEEPING
        [[[environment]]]
            RUN_DIR=../testXios

    [[housekeeping_nemo]]
        inherit=None, HOUSEKEEPING
        [[[environment]]]
            RUN_DIR=../testNemo

    [[housekeeping_oasis]]
        inherit=None, HOUSEKEEPING
        [[[environment]]]
            RUN_DIR=../testOasis
    

